/* $Id$ */

/**
 * @file admin.css
 * Basic styles for admin sections.
 */

/***********************************************************
*                  Admin, Misc.
**********************************************************/
/** 
 * Experimental workaround for the theme list page for very narrow themes.
 * When both sidebars are active, the left sidebar overlaps the theme list table,
	* this forces the sidebars to be a set height with scroll bars. 
 */
body.page-admin-build-themes #sidebar-left,
body.page-admin-build-themes #sidebar-right,
body.page-admin-build-themes-select #sidebar-left,
body.page-admin-build-themes-select #sidebar-right {
  height: 193px; 
		overflow-y: scroll;
		background: #F7F7F7;
}
body.page-admin-build-themes .description {color: #888;}

/**
	* Admin panels.
	*/
div.admin-panel {
  background: #EEE;
  border: 1px solid #CCC;
  margin: 0 0 0.5em;
  padding: 0;
}
div.admin-panel h3 {
  float: left;
  padding: 1em 0 0 1em;
  width: 13.3333em;
		color: #222;
}
div.admin-panel .body {
  background: #FFF;
  margin: 0 0 0 13.3333em;
  padding: 0 1em;
}
div.admin-panel p  {margin: 0; padding: 1em 0 0;}
div.admin-panel ul {margin: 0; padding: 1em 0;}
div.admin-panel ul li {list-style: none; padding: 0 0 0.6em;}
div.admin-panel dl {margin: 0; padding: 1em 0;}
div.admin-panel dt {float: left; font-weight: normal;}
div.admin-panel dd {color: #888; font-size: 0.94em; padding: 0 0 0.75em;	margin: 0 0 0 14em;}

.admin .compact-link {margin: 0 0 1em;}

#user-admin-filter ul li,
#node-admin-filter ul li {list-style: none;}

.more-help-link {font-size: 0.94em;	line-height: 1.667em;}

#permissions td.permission {padding-left:0.5em;}
#permissions td.module {background: #EEE; color: #222; font-weight: bold;}

/* Local tasks */
.local-tasks {margin-bottom: 0.75em;}
ul.primary {margin: 0.75em 0 0 0;}
ul.secondary {
		border-bottom: 1px solid #BBB;
		margin: 0 0 1em;
		padding: 1em 0;
}
ul.secondary li {border-right: none; padding:0 0.75em;}
ul.secondary a:hover,
ul.secondary a.active {border-bottom: none;text-decoration: underline;}