/* $Id$ */

/**
  * @file all-in-one.css
  * Genesis mini CSS sheets aggregated into one file.
		*
		* Includes an exact copy of the following stylesheets:
		* type.css
		* tables.css
		* messages.css
		* lists.css
		* forms.css
		* admin.css
		* block-edit.css

		*
		* USAGE
		* 1) Unset the mini stylesheets in genesis.info by commenting them out.
		* 2) Enable all-in-one.css by uncommenting it in genesis.info
		*
		* The file is useful for working around IE7's 31 max stylesheets issue
		* when you cannot turn on CSS aggregation in Performance settings.
  */

/***********************************************************
*                        Type
**********************************************************/
/**
 * Global Font Size
	*
 * DO NOT USE THIS TO CHANGE THE FONT SIZE IN YOUR SITE!
	* Modify your font sizes in your subthemes CSS file.
	*
	* Most Genesis property values are set in em's. 
	* 
	* All modern browsers set a base font of 16px, therefore
	* the default value of 1em = 16px. We reduce this to 12px 
	* to give us a more sensible base font size and to make it 
	* easier to work with.
	*
	* 75% of 16px. (0.75 * 16px = 12px).
	* 1em now is equal to 12 pixels.
	* 1.5em = 18px
	* 2em   = 24px
	* 0.5em = 6px
	* and so on.
 *
 * You may find this "px to em" calculator helpful;
 * http://riddle.pl/emcalc/
 */
body {
  font-size: 75%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5; /* unitless line height */
}

h1 {
  font-size: 2em; 
		line-height: 1;
		margin: 0 0 0.5em 0; 
		padding: 0;
}
h2 {
  font-size: 1.5em; 
		line-height: 1; 
		margin: 0; 
		padding: 0;
}
h3, h4, h5, h6 {
  font-size: 1em; 
		margin: 0; 
		padding: 0;
}

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0; padding: 0;
}

a {
  margin: 0; 
		padding: 0;
}
p {
  margin: 0 0 1.5em; 
		padding: 0;
}
blockquote p {
  margin: 0;
}
strong {
  font-weight: bold;
}
em, dfn {
  font-style: italic; 
		margin: 0; 
		padding: 0;
}
dfn {
  font-weight: bold;
}
sup, sub {
  line-height: 0;
}
del {
  color: #666; 
		margin: 0; 
		padding: 0;
}
pre, code {
  margin: 1.5em 0; 
		padding: 0; 
		white-space: pre;
}
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
} 

/* Preserve line-height and selector appearance */
sup {
  vertical-align:text-top;
}
sub {
  vertical-align:text-bottom;
}

/* Mitigate relative shrinkage */
li li, li p, td p, blockquote p {
  font-size:1em;
}

blockquote, q {
  font-style: italic;  /* LTR */
  margin: 0 0 1.5em 0;
  padding: 0 0 0 3em;  /* LTR */
}
/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, 
blockquote:after, 
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

/**********************************************************
 *                   Tables
 **********************************************************/
table {
  border-collapse: collapse; 
		border-spacing: 0;
		margin: 1em 0; 
		padding: 0; 
		width: 100%;
}
caption, th, td {
  text-align: left; /* LTR */
		font-weight: normal;
} 
table, td, th {
  vertical-align: middle;
}
tbody, tfoot, thead, tr {
  margin: 0; 
		padding: 0;
}
thead th {
  font-weight: bold; 
		border-bottom: 0.1875em solid #C0C0C0; 
		color: #494949;
}
td, th {
  padding: 0.375em 0.5em; 
		margin: 0;
}
tr.even,
tr.odd,
tbody th {
  border: solid #CCC; 
		border-width: 1px 0;
}
tr.odd, 
tr.info {
  background-color: #F5F5F5;
}
tr.even {
  background-color: #FFF;
}
tr.drag {
  background-color: #FFFFF0;
}
tr.drag-previous  {
  background-color: #FFD;
}
tr.odd td.active  {
  background-color: #EEE;
}
tr.even td.active {
  background-color: #F7F7F7;
}
td.region, 
td.module, 
td.container td.category {
  background-color: #EEE;
  border-bottom: 1px solid #CCC;
  border-top: 1.5em solid #FFF;
  color: #222;
  font-weight: bold;
}
tr:first-child td.region,
tr:first-child td.module, 
tr:first-child td.container {
  border-top-width: 0;
}
/*
th a:link, 
th a:visited {}
*/

/***********************************************************
*                   Messages
**********************************************************/
div.messages {
  font-weight: bold; 
		margin: 1em 0; 
		padding: 0.75em;
}
div.messages ul {
  margin: 0 0 0 2em;
}

div.success {color: #55872E; background: #F1F8EB; border: 1px solid #7AC142;}
div.status  {color: #264409; background: #E6EFC2; border: 1px solid #C6D880;}
div.error, 
tr.error    {color: #8A1F11; background: #FFDFDF; border: 1px solid #DD7777;}
div.notice  {color: #514721; background: #FFF6BF; border-color: #FFD324;}
.error a    {color: #8a1f11; text-decoration: underline;}
.notice a   {color: #514721; text-decoration: underline;}
.success a  {color: #264409; text-decoration: underline;}

div.help {
  background: #FFC;
		margin: 1em 0;
		padding: 0.75em; 
		border: 1px solid #FEDE01;
}

div.help p:last-child,
div.help ul:last-child {
  margin-bottom: 0;
}  

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 2px solid #DD7777;
}

.form-item strong.error em {
  display: block; 
		font-weight: bold; 
		color: red; 
		font-size: 1.2em;
}

.block-region {
  background-color: transparent;
		border: 1px dashed red;
		color: red;
		font-weight: bold;
}

/* Highlight unpulished nodes and comments*/
div.node-unpublished,
div.comment-unpublished {
  background-color: #FFF4F4;
  padding: 0.375em;
}

div.node div.unpublished,
div.comment div.unpublished {
  font: bold 3em Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFE9E7;
  padding: 0.375em;
}

/* Animated saving throbber */
#saving {
  font-size: 1em;
  font-weight: bold;
  background: url(../images/loading.gif) no-repeat 12px 1px;
  display: none;
  padding-left: 36px;
}
#saving p {
  margin: 0;
}
#saving-notice {
  font-size: 0.9em;
		font-style: italic;
		background: #FFC;
}

/* Un-used helpers.
.help ul li {}
.warning    {} div.warning, tr.warning  {} div.warning {}
div.error, tr.error, span.form-required, span.marker {}
.ok {} div.ok {} div.ok, tr.ok {}
*/

/***********************************************************
*                     Lists
**********************************************************/
ul, ol {
  margin: 0 0 1.5em 1.75em; /* LTR */
  padding: 0;
}

.block ul, .block ol,
.item-list ul, .item-list ol {
  margin: 0 0 0 1.75em; /* LTR */
  padding: 0;  
}

ul ul, ul ol,
ol ol, ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin: 0 0 0 1.5em; /* LTR */
}

li {
  margin: 0; 
		padding: 0;
}

.item-list ul li,
ul.menu li,
li.expanded,
li.collapsed,
li.leaf {
  margin: 0; 
		padding: 0;
}

ul          {list-style-type: disc;}
ul ul       {list-style-type: circle;}
ul ul ul    {list-style-type: square;}
ul ul ul ul {list-style-type: circle;}
ol          {list-style-type: decimal;}
ol ol       {list-style-type: lower-alpha;}
ol ol ol    {list-style-type: decimal;}

dt {font-weight: bold;}
dd {margin: 0 0 1.5em 1.75em;} /* LTR */

/***********************************************************
*                     Forms
**********************************************************/
form {
  margin: 0 0 1.5em 0; 
		padding: 0;
}

input.text, 
input.title,
textarea, 
select {
  margin:0.375em 0; 
		border: 1px solid #C0C0C0;
}

input.text:focus, 
input.title:focus,
textarea:focus, 
select:focus {
  border: 1px solid #666;
}

input.text, 
input.title {
  padding: 0.375em;
}
input.title {
  font-size: 1.5em;
}

span.form-required, 
span.marker {
  color: #8A1F11;
}

div.form-item div.description img {
  margin: 0;
}
input.form-text, 
textarea {
  padding: 0.1875em; 
		height: auto; 
		border: 1px solid #CCC;
}
textarea, 
input {
  font: 1em normal Arial, Helvetica, sans-serif;
}
input {
  margin: 0.375em 0.1875em 0 0.1875em;
}
div.form-item {
  margin-bottom: 1em; margin-top: 1em;
}
.form-item strong.error {
  display: block;
}
.form-item textarea.error {
  padding: 0.1875em;
}
.form-item .description {
  font-size: 0.9em; 
		line-height: 1.667em;
}
label, legend {
  margin: 0; padding: 0;
}
#node-admin-filter ul {
  padding: 0.375em 0;
}
#edit-operation-wrapper select {
  margin: 0.375em;
}
div.resizable-textarea textarea {
  margin-top: 0;
}
.tips {
  font-size: 1em;
  margin-left: 3em; /* LTR */
  padding: 0.1875em 0.375em 0.1875em 1.5em; /* LTR */
}

/**
 * Fieldsets, mostly from Garland.
 */
fieldset {
  margin: 1.5em 0;
  padding: 0.75em;
  border: 1px solid #dadada;
  background: transparent;
}
/* Targets IE 7. Fixes background image in field sets (if one is set). */
*:first-child+html fieldset {
  padding: 0 1em 0.75em;
  background-position: 0 .75em;
  background-color: transparent;
}
*:first-child+html fieldset > .description, *:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 1.5em;
}
/* Fix legend in Firefox */
fieldset legend {
  display: block;
		font-weight: bold;
}
*:first-child+html fieldset legend, *:first-child+html fieldset.collapsed legend {
  display: inline;
}
html.js fieldset.collapsed {
  background: transparent;
  padding-top: 0;
  padding-bottom: .75em;
}
html.js fieldset.collapsible legend a {
  /*color: #0066B3;*/
  padding-left: 1em; /* LTR */
  background: url(../images/arrow-down.gif) no-repeat 0% 50%; /* LTR */
}
html.js fieldset.collapsed legend a {
  /*color: #0066B3;*/
  background: url(../images/arrow-right.gif) no-repeat 0% 50%; /* LTR */
}

/* Add support for Vertical Tabs module */
#node-form .vertical-tabs ul.vertical-tabs-list {
  margin: 0;
}

/***********************************************************
*                  Admin, Misc.
**********************************************************/
/** 
 * Experimental workaround for the theme list page for very narrow themes.
 * When both sidebars are active, the left sidebar overlaps the theme list table,
	* this forces the sidebars to be a set height with scroll bars. 
 */
body.page-admin-build-themes #sidebar-left,
body.page-admin-build-themes #sidebar-right,
body.page-admin-build-themes-select #sidebar-left,
body.page-admin-build-themes-select #sidebar-right {
  height: 193px; 
		overflow-y: scroll;
		background: #F7F7F7;
}
body.page-admin-build-themes .description {
  color: #888;
}

/**
	* Admin panels.
	*/
div.admin-panel {
  background: #EEE;
  border: 1px solid #CCC;
  margin: 0 0 0.5em;
  padding: 0;
}
div.admin-panel h3 {
  float: left;
  padding: 1em 0 0 1em;
  width: 13.3333em;
		color: #222;
}
div.admin-panel .body {
  background: #FFF;
  margin: 0 0 0 13.3333em;
  padding: 0 1em;
}
div.admin-panel p  {
  margin: 0; 
		padding: 1em 0 0;
}
div.admin-panel ul {
  margin: 0; 
		padding: 1em 0;
}
div.admin-panel ul li {
  list-style: none; 
		padding: 0 0 0.6em;
}
div.admin-panel dl {
  margin: 0; 
		padding: 1em 0;
}
div.admin-panel dt {
  float: left; 
		font-weight: normal;
}
div.admin-panel dd {
  color: #888; 
		font-size: 0.94em; 
		padding: 0 0 0.75em;	
		margin: 0 0 0 14em;
}

.admin .compact-link {
  margin: 0 0 1em;
}

#user-admin-filter ul li,
#node-admin-filter ul li {
  list-style: none;
}

.more-help-link {
  font-size: 0.94em;	
		line-height: 1.667em;
}

#permissions td.permission {
  padding-left:0.5em;
}
#permissions td.module {
  background: #EEE; 
		color: #222; 
		font-weight: bold;
}

/* Local tasks */
.local-tasks {margin-bottom: 0.75em;}
ul.primary {
  margin: 1.5em 0 0 0; 
		padding: 0 0 0.35em 1em;
		border-bottom-color: #CCC;
}
ul.primary li a {
  padding: 0.3em 1em 0.4em;
		background-color: #EEE;
  border-color: #CCC;
}
.local-tasks ul.primary li a:hover  {
  background-color: #F5F5F5;
  border-color: #DDD;
}
.local-tasks ul.primary li.active a {
  background-color: #FFF;		
		border-bottom-color: #FFF;
}
ul.secondary {
		margin: 0 0 1em;
		padding: 1em 0;
		border-bottom: 1px solid #BBB;
}
ul.secondary li {
		padding:0 0.75em;
		border-right: none;
}
ul.secondary a:hover,
ul.secondary a.active {
  border-bottom: none;
		text-decoration: underline;
}

/***********************************************************
*                    Block Edit
**********************************************************/
/**
 * Edit links for blocks.
 */
div.block {
  position: relative;
}
div.block div.edit {
  display: none;
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  z-index: 40;
  border: 1px solid #EEE;
  padding: 0 2px;
  font-size: 11px;
  background-color: #FFF;
}
div.block:hover div.edit {
  display: block;
}
.block .node,
.block .comment {
  margin-bottom: 0;
}
/* blocks page table */
tr .block {
  border: none;
}