/* $Id$ */

/**
	* @file ie.css
	* Internet Explorer hacks and work-arounds.
	*/
/**
	* Dont change, over-ride!
	* Override these if necessary in your subthemes ie.css file.
	*/
/* Prevent unnessary scrollbars */
#container {overflow-y: hidden;}
/* Trigger hasLayout */
#columns {zoom: 1;}
/* Fix incorrect styling of legend in IE6 */
* html legend {margin:-18px -8px 16px 0; padding:0;}
/* Fix ol numbers */
ol {margin-left:2em;}
/* Fix wrong line-height */
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
/* Fix IE7 code elements */
html>body p code {*white-space: normal;}
/* Set proper horizontal rule margins */
hr {margin: -8px auto 11px;}