/* $Id$ */

/**
 * @file tables.css
 * Set styles for tables.
 */

/**********************************************************
 *                   Tables
 **********************************************************/
table           {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;} /* LTR */
table, td, th   {vertical-align: middle;}
tbody, tfoot, thead, tr {margin: 0; padding: 0;}
table    {margin: 1em 0; padding: 0; width: 100%;}
thead th {font-weight: bold; border-bottom: 0.1875em solid #C0C0C0; color: #494949;}
th a:link, 
th a:visited {}
td, th   {padding: 0.375em 0.5em; margin: 0;}
tr.even,
tr.odd,
tbody th {border: solid #CCC; border-width: 1px 0;}
tr.odd, 
tr.info {background-color: #F7F7F7;}
tr.even {background-color: #FFF;}

tr.drag {background-color: #FFFFF0;}
tr.drag-previous  {background-color: #FFD;}

tr.odd td.active  {background-color: #EEE;}
tr.even td.active {background-color: #F7F7F7;}

td.region, td.module, td.container td.category {
  background-color: #EEE;
  border-bottom: 1px solid #CCC;
  border-top: 1.5em solid #FFF;
  color: #222;
  font-weight: bold;
}

tr:first-child td.region,
tr:first-child td.module, 
tr:first-child td.container {border-top-width: 0;}