/* ---------- Carousel ---------- */

#wrapper {
     margin-right:auto;
     margin-left:auto;
     width: 920px; 
     
    position: relative;
}

/*----------  Global jCarousel components ---------- */
.jcarousel-container {
    position:relative;
}
.jcarousel-clip {
    z-index:2;
    padding:0;
    margin:0;
    overflow:hidden;
    position:relative;
}
.jcarousel-list {
    z-index:1;
    overflow:hidden;
    position:relative;
    top:0;
    left:0;
    margin:0;
    padding:0;
}
.jcarousel-list li, .jcarousel-item {
    float:left;
    list-style:none;
}
.jcarousel-next, .jcarousel-prev {
    z-index:3;
    display:none;
    cursor:pointer;
    cursor:hand;
}
/* ---------- Carousel ---------- */

.jcarousel-container {
    margin-left:-258px;
}
.jcarousel-item {
    width:480px;
    height:350px;
    background:url(dot-line-vert.gif) repeat-y 100% 0;
}
.jcarousel-next, .jcarousel-prev {
    width:50px;
    height:50px;
    position:absolute;
    top:170px;
}
.jcarousel-next {
    background:url(btn-carousel-next.png);
    left:899px;
}
.jcarousel-prev {
    background:url(btn-carousel-prev.png);
    left:-28px;
}
.jcarousel-next:hover, .jcarousel-prev:hover {
    background-position:-50px 0;
}
#carousel-wrap {
    position:relative;
    overflow:hidden;
    width:920px;
    margin-bottom:20px;
}
#carousel {
    overflow:hidden;
    width:920px;
    height:350px;
    padding:10px 0 0px;
	border-bottom: 3px solid #000;
}
#carousel .item {
    position:relative;
    width:380px;
    height:350px;
    padding-top:0px;
    margin-left:20px;
}
#carousel .desc-wrap {
    position:absolute;
    top: 192px;
    left: 0;
    padding:40px 20px 0;
    width:360px;
    height:96px;
    margin-left:20px;
    background:url(bg-caro-desc.png);
}
#carousel .desc {
    position:relative;
}
#carousel .item-image {
    width: 440px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
}
#carousel .item h2 {
    position:relative;
    font-weight:700;
    font-size:2.3em;
    letter-spacing:-1px;
    line-height:1.1em;
    margin-bottom:12px;
    height:64px;
}
#carousel .item h2 a {
    position:relative;
    z-index:200;
    color:#fff;
}
#carousel .item h2 a:hover {
    position:relative;
    color:#1ec7ff;
    text-decoration:none;
}
