/* $Id$ */

/**
	* @file base-rtl.css
	* Right to Left language support.
	*/

html {
  direction: rtl;
}

body {
		direction: rtl;
}


/***********************************************************
 *                 HTML Elements
 **********************************************************/

/**
	* Text elements 
	*/

blockquote   {
  font-style: normal; /**/
		padding: 0 3em 0 0; /**/
}

address      {
  font-style: normal; /**/
}


/***********************************************************
 *                     Lists
 **********************************************************/

ul, ol   {margin: 0 1.5em 1.5em 1em;} /**/

.block ul, ul.menu, .item-list ul {
  margin: 0 0 1.5em 1em; /**/
}

.block ul li, ul.menu li, .item-list ul li {
  margin: 0 1.5em 0 0; /**/
}


/***********************************************************
 *                     Forms
 **********************************************************/
html.js fieldset.collapsible legend a {
  padding-left: 1em; /**/
  background: url(images/arrow-down.gif) no-repeat 100% 50%; /**/
}

html.js fieldset.collapsed legend a {
  background: url(images/arrow-right.gif) no-repeat 100% 50%; /**/
}

.tips {
  margin-right: 3em; /**/
  padding: 0.17em 1.33em 0.17em 0.25em; /**/
}


/***********************************************************
 *                  Blocks 
 **********************************************************/

div.block div.edit {
  left: 0; /**/
}


/***********************************************************
 *            Align elements on a default install
 **********************************************************/

#breadcrumb {padding-right: 0.7em;} /**/


/***********************************************************
 *                    Tabs 
 **********************************************************/

ul.primary li {
	float: right; /**/
}

ul.secondary li {
	float: right; /**/
	margin: 0 0 0 5px; /**/
	border-left: none; /**/
}


/***********************************************************
 *                   Profile
 **********************************************************/
.profile .picture {
  float: right;  /**/
		margin: 2em 0.5em 1em 0; /**/
}


/***********************************************************
 *                   Messages
 **********************************************************/

#saving {
  padding-right: 36px; /**/
}
