/* $Id$ */

/**
	* @file base.css
	* Reset browser CSS and set global styles.
	*/

/***********************************************************
 *                        BODY
 **********************************************************/
/**
	* Most values are based on em's (widths, padding, margins, font sizes 
	* etc), adjusting this value will work like a ZOOM. Only change this if
	* you know what you are doing.
	*
	* If you need to set a font size for an element, set it on the element in
	* your subtheme. E.g h1.title {font-size: 3em;}
	*
	* The font-size percentage is of 16px. (0.75 * 16px = 12px).
	*
	* You may find this "px to em" calculator helpful - http://riddle.pl/emcalc/
	*/
body { 
  font-size: 75%;
  font-family: Arial, Helvetica, sans-serif;
}


/***********************************************************
 *                        Grid
 **********************************************************/
/**
	* Uncomment the grid class on the body element in page.tpl.php
	* to show the grid when adjusting the vertical flow.
	*/
/*.grid {background: url(images/gridtile.gif) repeat left top;}*/
/* force the admin menu down 2 line heights */
body.admin-menu {
  margin-top:24px !important;
}

/***********************************************************
 *                        Reset
 **********************************************************/
/**
	* Based on Eric Meyers reset and Tripoli.
	*/
body {line-height: 1.5;} /* unitless line height */

html, body, div, span, a, img,
h1, h2, h3, h4, h5, h6, p, q, blockquote,
pre, code, del, dfn, em,
abbr, acronym, address,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
object, iframe,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0; padding: 0; border: 0;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table           {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
table, td, th   {vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, 
blockquote:after, 
q:before, q:after {content: "";}
blockquote, q     {quotes: "" "";}

/* Mitigate relative shrinkage */
li li, li p, td p, blockquote p {font-size:1em;} 

/* Remove annoying border on linked images. */
a img {border: none;}

/* Preserve line-height and selector appearance */
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}


/***********************************************************
 *                    Links
 **********************************************************/
a:link,
a:visited {text-decoration: none;}

a:hover,
a:focus,
a:active  {text-decoration: underline;}


/***********************************************************
 *                 HTML Elements
 **********************************************************/
/**
	* Headings 
	*/
h1 {font-size: 2em  ; line-height: 1.5; margin-bottom: 0.375em;}
h2 {font-size: 1.5em; line-height: 1  ; margin-bottom: 0;}
h3,
h4,
h5,
h6 {font-size: 1em ;}

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {margin: 0;}

/**
	* Text elements 
	*/
p            {margin: 0 0 1.5em;}
blockquote   {
  font-size: 1em; 
		margin: 1.5em; 
		font-style: italic;  /* LTR */
		margin: 0 0 1.5em 0;
		padding: 0 0 0 3em;  /* LTR */
}
blockquote p {margin: 0;}
strong       {font-weight: bold;}
em,dfn       {font-style:  italic;}
dfn          {font-weight: bold;}
sup, sub     {line-height: 0;}
address      {
  margin: 0 0 1.5em; 
		font-style: italic; /* LTR */
}
del          {color:#666; }
pre,code     {margin: 1.5em 0; white-space: pre;}
pre,code,tt  {font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5;} 

/**
	* Site name
	*/
h1#site-name, div#site-name {
  font-size: 2em  ; 
	 line-height: 1.5; 
	 margin-bottom: 0;
}


/***********************************************************
 *                     Lists
 **********************************************************/
li ul, 
li ol    {margin:0 1.5em;}

ul, ol   {margin: 0 1em 1.5em 1.5em;} /* LTR */

ul       {list-style-type: disc;}
ol       {list-style-type: decimal;}

dl, dd   {margin: 0 0 1.5em 0;}
dl dt    {font-weight: bold;}

li.leaf       {margin:0; padding:0;}
ul.links      {margin: 0; padding: 0;}
ul.menu li ul {margin-bottom: 0;}

.block ul, ul.menu, .item-list ul {
  margin: 0 1em 1.5em 0; /* LTR */
		padding: 0;
}

.block ul li, ul.menu li, .item-list ul li {
  margin: 0 0 0 1.5em; /* LTR */
  padding: 0;
}


/***********************************************************
 *                     Forms
 **********************************************************/
form {margin: 0 0 1.5em 0;}

input.text, 
input.title,
textarea, 
select {margin:0.375em 0; border: 1px solid #C0C0C0;}

input.text:focus, 
input.title:focus,
textarea:focus, 
select:focus {border: 1px solid #666;}

input.text, 
input.title {padding: 0.375em;}

input.title {font-size: 1.5em;}

div.error, 
tr.error, 
span.form-required, 
span.marker {color: #8A1F11;}

.form-item input.error, 
.form-item textarea.error, 
.form-item select.error {
  color: #8A1F11;
  background: #FFCCCC;
  border: 1px solid #DD7777;
}

div.form-item div.description img {margin: 0;}

input.form-text, 
textarea {padding: 0.1875em; border: 1px solid #CCC;}

textarea, 
input {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 1em;
  /*vertical-align: text-bottom;*/
}

div.form-item {margin-bottom: 1.5em; margin-top: 1.5em;}

.form-item strong.error   {display: block;}
.form-item textarea.error {padding: 0.1875em;}
.form-item .description   {font-size: 0.9em; line-height: 1.667em;}
form .form-submit         {}
label                     {font-weight: bold;}

#node-admin-filter ul {padding: 0.375em 0;}
#edit-operation-wrapper select {margin: 0.375em ;}

textarea {
  height: auto;
  padding: 0.1875em;
}
div.resizable-textarea textarea {margin-top: 0;}

/**
 * Collapsible fieldsets, from Garland.
 */
fieldset {
  margin: 1.5em 0;
  padding: 0.75em;
  border: 1px solid #dadada;
  background: transparent;
}

/* Targets IE 7. Fixes background image in field sets. */
*:first-child+html fieldset {
  padding: 0 1em 0.75em;
  background-position: 0 .75em;
  background-color: transparent;
}

*:first-child+html fieldset > .description, *:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 1.5em;
}

/* Fix legend in Firefox */
fieldset legend {
  display: block;
}

*:first-child+html fieldset legend, *:first-child+html fieldset.collapsed legend {
  display: inline;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-top: 0;
  padding-bottom: .75em;
}

html.js fieldset.collapsible legend a {
  color: #0066B3;
  padding-left: 1em; /* LTR */
  background: url(images/arrow-down.gif) no-repeat 0% 50%; /* LTR */
}

html.js fieldset.collapsed legend a {
  color: #0066B3;
  background: url(images/arrow-right.gif) no-repeat 0% 50%; /* LTR */
}

.tips {
  font-size: 1em;
  margin-left: 3em; /* LTR */
  padding: 0.1875em 0.375em 0.1875em 1.5em; /* LTR */
}


/***********************************************************
 *                   Tables
 **********************************************************/
table        {margin: 1em 0; width: 100%;}
thead th     {font-weight: bold;  border-bottom: 0.1875em solid #d3e7f4; color: #494949;}
th a:link, 
th a:visited {color: #6f9dbd;}
td, th       {padding: 0.375em 0.5em;}
tr.even,
tr.odd,
tbody th     {border: solid #d3e7f4; border-width: 1px 0;}
tr.odd, 
tr.info      {background-color: #edf5fa;}
tr.even      {background-color: #fff;}
tr.drag          {background-color: #fffff0;}
tr.drag-previous {background-color: #ffd;}
tr.odd td.active  {background-color: #ddecf5;}
tr.even td.active {background-color: #e6f1f7;}

td.region, td.module, td.container td.category {
  border-top: 1.5em solid #fff;
  border-bottom: 1px solid #b4d7f0;
  background-color: #d4e7f3;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region,
tr:first-child td.module, 
tr:first-child td.container {border-top-width: 0;}


/***********************************************************
 *                     Node
 **********************************************************/
.node {  
  margin: 0 0 1.5em 0;
  padding: 0;
}

div.node-unpublished {
  background-color: #FFF4F4;
  padding: 0.375em;
}

div.node div.unpublished {
  font: bold 3em Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFE9E7;
  padding: 0.375em;
}


/***********************************************************
 *                  Forum
 **********************************************************/
#forum table       {width: 100%;}

#forum tr td.forum { 
  background-position: 5px 5px!important; 
  background-position: 5px 5px;
  padding-left: 1.67em; 
}
	
#forum div.indent  {margin-left: 0.5em;}


/***********************************************************
 *                 Comments
 **********************************************************/
.comment {  
  margin: 0 0 1.5em 0;
  padding: 0;
}

div.comment-unpublished {
  background-color: #FFF4F4!important;
  padding: 0.375em;
}

div.comment div.unpublished {
  font: bold 3em Arial, Helvetica, sans-serif;
  text-align: center;
  color: #FFE9E7;
  padding: 0.375em;
}


/***********************************************************
 *                  Blocks 
 **********************************************************/
.block {  
  margin: 0 0 1.5em 0;
  padding: 0;
}

/* blocks page table */
tr .block {border: none;}

/**
	* Edit links for blocks.
	*/
div.block {position: relative;}

div.block div.edit {
  display: none;
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  z-index: 40;
  border: 1px solid #eee;
  padding: 0 2px;
  font-size: 11px;
  background-color: #fff;
}

div.block:hover div.edit {display: block;}


/***********************************************************
 *                    Admin, Misc.
 **********************************************************/
div.admin       {padding-top: 0;}

div.admin-panel {padding: 1.5em 0 0 0;}
div.admin-panel .body {padding: 0;}
div.admin-panel .description {margin: 0 0 1.5em 0; padding: 0;}

div.admin .left,
div.admin .right {margin:0;}

#user-admin-filter ul li,
#node-admin-filter ul li {list-style: none;}

.more-help-link {font-size: 0.9em; line-height: 1.667em;}

span.admin-disabled {}


/***********************************************************
 *            Align elements on a default install
 **********************************************************/
/* Adjust primary and secondary li padding */
#nav ul.links li {padding: 0 0.75em;}

/* Adjust the breadcrumb */
#breadcrumb {padding-left: 0.75em;} /* LTR */


/***********************************************************
 *                     Book
 **********************************************************/
.book-navigation .page-links {
  padding: 0.75em;
  margin-bottom: 1.5em;
  border: none;
}

.book-navigation .menu {
  padding: 1.5em 0 0 3em;
  margin: 0 0 1.5em 0;
}


/***********************************************************
 *                    Tabs 
 **********************************************************/
/**
	* From the Zen theme.
	*/
div.tabs {margin: 0 0 5px 0;}

ul.primary {
	margin: 0;
	padding: 0 0 0 10px;
	border-width: 0;
	list-style: none;
	white-space: nowrap;
	line-height: normal;
	background: url(images/tabs/tab-bar.png) repeat-x left bottom;
}

ul.primary li {
	float: left; /* LTR */
	margin: 0;
	padding: 0;
}

ul.primary li a {
	display: block;
	height: 24px;
	margin: 0;
	padding: 0 0 0 4px; /* width of tableft.png */
	border-width: 0;
	font-weight: bold;
	text-decoration: none;
	color: #777;
	background-color: transparent;
	background: url(images/tabs/tab-left.png) no-repeat left -42px;
}

ul.primary li a .tab {
	display: block;
	height: 20px; /* 24px (parent) - 4px (padding) */
	margin: 0;
	padding: 4px 13px 0 6px;
	border-width: 0;
	line-height: 20px;
	background: url(images/tabs/tab-right.png) no-repeat right -42px;
}

ul.primary li a:hover {
	border-width: 0;
	background-color: transparent;
	background: url(images/tabs/tab-left.png) no-repeat left 0;
}

ul.primary li a:hover .tab {
	background: url(images/tabs/tab-right.png) no-repeat right 0;
}

ul.primary li.active a,
ul.primary li.active a:hover {
	border-width: 0;
	color: #000;
	background-color: transparent;
	background: url(images/tabs/tab-left.png) no-repeat left 0;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
	background: url(images/tabs/tab-right.png) no-repeat right 0;
}

ul.secondary {
	margin: 0;
	padding: 0 0 0 5px;
	border-bottom: 1px solid #c0c0c0;
	list-style: none;
	white-space: nowrap;
	background: url(images/tabs/tab-sec-bg.png) repeat-x left top;
}

ul.secondary li {
	float: left; /* LTR */
	margin: 0 5px 0 0; /* LTR */
	padding: 5px 0;
	border-right: none; /* LTR */
}

ul.secondary a {
	display: block;
	height: 24px;
	margin: 0;
	padding: 0;
	border: 1px solid #c0c0c0;
	text-decoration: none;
	color: #777;
	background: url(images/tabs/tab-sec.png) repeat-x left -56px;
}

ul.secondary a .tab {
	display: block;
	height: 18px; /* 24px (parent) - 6px (padding) */
	margin: 0;
	padding: 3px 8px;
	line-height: 18px;
}

ul.secondary a:hover {
	background: url(images/tabs/tab-sec.png) repeat-x left bottom;
}

ul.secondary a.active,
ul.secondary a.active:hover {
	border: 1px solid #c0c0c0;
	color: #000;
	background: url(images/tabs/tab-sec.png) repeat-x left top;
}


/***********************************************************
 *                   Profile
 **********************************************************/
.profile .picture {
  float: right; 
		margin: 2em 0 1em 0.5em; /* LTR */
}

/* Fix alignment on user profile page*/
.profile dt {margin: 1.4em 0 0 0;}


/***********************************************************
 *                   Messages
 **********************************************************/
div.messages {
  font-weight: bold;
  margin-bottom: 1.5em;
  padding: 0.67em;
}

div.messages.success {
  color: #55872E;
  background: #F1F8EB;
  border: 1px solid #7AC142; 
}

div.messages ul {
  margin-bottom: 0;
}

#saving {
  font-size: 1em;
  font-weight: bold;
  background: url(images/loading.gif) no-repeat 12px 1px;
  display: none;
  padding-left: 36px; /* LTR */
}

#saving p {
  margin: 0;
}

#saving-notice {
  font-size: 0.9em;
  font-style: italic;
  background: #FFC;
}

.status {
  color: #264409;
  background: #E6EFC2;
  border: 1px solid #C6D880;
}

.error { 
  color: #8a1f11;
  background: #FBE3E4; 
  border: 1px solid #8a1f11; 
}

div.error {}

.notice { 
  color: #514721; 
  background: #FFF6BF; 
  border-color: #FFD324; 
}

.error, .notice, .status { 
  margin-bottom: 1em;
  padding: 0.8em; 
}

.error a    {color: #8a1f11; text-decoration: underline;}
.notice a   {color: #514721; text-decoration: underline;}
.success a  {color: #264409; text-decoration: underline;}

div.help {
  background: #FFC;
  margin-bottom: 1.5em;
  padding: 0.75em; 
  border: 1px solid #FEDE01;
}

.help ul li {}

.warning    {}
div.warning, 
tr.warning  {}
div.warning {}

div.error, tr.error, span.form-required, span.marker {}

.ok {}
div.ok {}
div.ok, tr.ok {}