/* $Id$ */

/**
 * @file base.css
 * Helper classes.
 */

/***********************************************************
*                     Grid 
**********************************************************/
/**
 * Uncomment to show the grid, also uncomment the grid class 
 * on the #contanier wrapper in your subthemes page.tpl.php
 */
/*@import url("css/grid.css");*/


/***********************************************************
*                    Blocks 
**********************************************************/
/**
 * Edit links for blocks.
 */
div.block {position: relative;}
div.block div.edit {
  display: none;
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  z-index: 40;
  border: 1px solid #eee;
  padding: 0 2px;
  font-size: 11px;
  background-color: #fff;
}
div.block:hover div.edit {display: block;}
.block .node,
.block .comment {margin-bottom: 0;}

/* blocks page table */
tr .block {border: none;}


/***********************************************************
*                  Admin, Misc.
**********************************************************/
div.admin       {padding-top: 0;}
div.admin-panel {padding: 1.5em 0 0 0;}
div.admin-panel .body {padding: 0;}
div.admin-panel .description {margin: 0 0 1.5em 0; padding: 0;}

div.admin .left,
div.admin .right {margin:0;}

#user-admin-filter ul li,
#node-admin-filter ul li {list-style: none;}

.more-help-link {font-size: 0.9em; line-height: 1.667em;}