/* $Id$ */

/**
  * @file _all-subtheme.css
  * Genesis modular stylesheets aggregated into one file.
		*
		* Includes an exact copy of the following stylesheets:
		
  * type.css
  * lists.css
  * forms.css
  * tables.css
  * nodes.css
  * blocks.css
  * comments.css
  * page.css

		*
		* USAGE
		* 1) Unset the mini stylesheets in genesis.info by commenting them out.
		* 2) Enable _all-subtheme.css by uncommenting it in genesis.info
		*
		* The file is useful for working around IE7's 30 max stylesheets issue
		* when you cannot turn on CSS aggregation in Performance settings.
  */

/*********************************************************
*                        Type
**********************************************************/
/**
 * Global Font Size
 *
 * All modern browsers set a base font of 16px, therefore
 * the default value of 1em = 16px. We reduce this to 12px.
 *
 * 75% of 16px. (0.75 * 16px = 12px).
 * 1em now is equal to 12 pixels. E.g.
 * 2em   = 24px
 * 1.5em = 18px
 * 1em   = 12px
 * 0.5em = 6px
 *
 * You may find this "px to em" calculator helpful;
 * http://riddle.pl/emcalc/
 */

html {
  font-size: 75%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5; /* unitless line height */
}

h1, h2 {
  line-height: 1; 
}

h1 {
  font-size: 2em;
  margin: 0 0 0.5em 0;
  padding: 0;
}

h2 {
  font-size: 1.5em; 
}

h3, h4, h5, h6 {
  font-size: 1em;
}

/* The main title on each page. */
h1#page-title {}

/* Micro reset */
h2, h3, h4, h5, h6,
h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img,
em, dfn, del, ins {
  margin: 0; 
  padding: 0;
}

p {
  margin: 0 0 1.5em; 
  padding: 0;
}

blockquote p {
  margin: 0;
}

strong {
  font-weight: bold;
}

em, dfn {
  font-style: italic; 
}

dfn {
  font-weight: bold;
}

sup, sub {
  line-height: 0;
}

del {
  color: #666; 
}

ins {
  border-bottom: none;
  text-decoration: none;
}

pre, code {
  margin: 1.5em 0; 
  padding: 0; 
  white-space: pre;
}

pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
}

p code {
  font: 1em "Courier New", Courier, monospace;
}

/* Preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

/* Mitigate relative shrinkage */
li li, li p, td p, blockquote p {
  font-size: 1em;
}

blockquote, q {
  font-style: italic;  /* LTR */
  margin: 0 0 1.5em;
  padding: 0 0 0 3em;  /* LTR */
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, 
blockquote:after, 
q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}


/**********************************************************
 *                 Global Link Styles
 **********************************************************/
 a {
  margin: 0; 
  padding: 0;
}

a:link    {}
a:visited {}
a:hover   {}
a:active  {}
a.active  {}
a.active-trail {}

/* Drupal sets this to black. */
li a.active {}

/* Remove borders on linked images. */
a img {border: none;}


/*********************************************************
*                     Lists
**********************************************************/
ul, ol {
  margin: 0 0 1.5em 1.75em; /* LTR */
  padding: 0;
}

li {
  margin: 0; 
  padding: 0;
}

/* Set nested list indentation */
ul ul, ul ol,
ol ol, ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin: 0;
}

/* Set nested list list-style-types */
ul          {list-style-type: disc;}
ul ul       {list-style-type: circle;}
ul ul ul    {list-style-type: square;}
ul ul ul ul {list-style-type: circle;}
ol          {list-style-type: decimal;}
ol ol       {list-style-type: lower-alpha;}
ol ol ol    {list-style-type: decimal;}

dt {font-weight: bold;}
dd {margin: 0 0 1.5em 1.75em;} /* LTR */

.item-list ul, 
.item-list ol {
  margin: 0 0 0 1.75em; /* LTR */
  padding: 0;  
}

.item-list ul li {}


/*********************************************************
*                     Forms
**********************************************************/
form {
  margin: 0 0 1.5em 0; 
  padding: 0;
}

input {
  margin: 0.375em 0.1875em 0 0.1875em;
}

input.text, 
input.title,
textarea, 
select {
  margin:0.375em 0; 
  border: 1px solid #C0C0C0;
}

input.text:focus, 
input.title:focus,
textarea:focus, 
select:focus {
  border: 1px solid #666;
}

input.text, 
input.title {
  padding: 0.375em;
}

input.title {
  font-size: 1.5em;
}

input.form-text, 
textarea {
  border: 1px solid #CCC;
  height: auto; 
  padding: 0.1875em;
}

textarea, 
input {
  font: 1em normal Arial, Helvetica, sans-serif;
}

div.form-item {
  margin-bottom: 1em; 
  margin-top: 1em;
}

.form-item strong.error {
  display: block;
}

.form-item textarea.error {
  padding: 0.1875em;
}

.form-item .description {
  font-size: 0.9em; 
  line-height: 1.667em;
}

span.form-required, 
span.marker {
  color: #8A1F11;
}

div.form-item div.description img {
  margin: 0;
}

#node-admin-filter ul {
  padding: 0.375em 0;
}

#edit-operation-wrapper select {
  margin: 0.375em;
}

div.resizable-textarea textarea {
  margin-top: 0;
}

.tips {
  font-size: 1em;
  margin-left: 3em; /* LTR */
  padding: 0.1875em 0.375em 0.1875em 1.5em; /* LTR */
}

label, legend {
  margin: 0; 
  padding: 0;
}


/*********************************************************
*                     Fieldsets
**********************************************************/
fieldset {
  background: transparent;
  border: 1px solid #dadada;
  margin: 1.5em 0;
  padding: 0.75em;

}

/* Targets IE 7. Fixes background image in field sets (if one is set). */
*:first-child+html fieldset {
  background-color: transparent;
  background-position: 0 .75em;
  padding: 0 1em 0.75em;
}

*:first-child+html fieldset > .description, *:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 1.5em;
}

/* Fix legend in Firefox */
fieldset legend {
  display: block;
  font-weight: bold;
		padding: 0 1em 0 0;
}

*:first-child+html fieldset legend, *:first-child+html fieldset.collapsed legend {
  display: inline;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-bottom: .75em;
  padding-top: 0;
}

/* Override default legend arrows with a CSS sprite. */
html.js fieldset.collapsible legend a,
html.js fieldset.collapsed legend a {
  background: transparent url(../images/sprite.png) no-repeat; /* LTR */
}

html.js fieldset.collapsible legend a {
  background-position: 0 -43px; /* LTR */
  padding-left: 1em; /* LTR */
}

html.js fieldset.collapsed legend a {
  background-position: 0 -63px; /* LTR */
}


/*********************************************************
*                     Vertical Tabs
**********************************************************/
#node-form .vertical-tabs ul.vertical-tabs-list {
  margin: 0;
}

#node-form .vertical-tabs ul.vertical-tabs-list li {
  list-style: none;
}


/*********************************************************
*              OpenID icon fix for Drupal 6
**********************************************************/
#user-login-form li.openid-link,
#user-login-form li.user-link {
  text-align: center;
}

html.js #user-login-form li.openid-link,
html.js #user-login li.openid-link {
  list-style: none;
}

#user-login-form ul {
  margin-top: 0;
}

#user-login ul {
  margin: 0 0 5px;
}

#user-login ul li {
  margin: 0;
}

#user-login-form li.openid-link,
#user-login li.openid-link {
  background: none;
}

#user-login-form li.openid-link a,
#user-login li.openid-link a {
  background: transparent url("../images/openid.png") no-repeat 0 0;
  padding: 0 20px;
}


/**********************************************************
 *              Style form buttons
 **********************************************************/
button, 
.pushbutton, 
.form-submit {}

button:hover, 
.pushbutton:hover, 
.form-submit:hover {}


/**********************************************************
 *                   Tables
 **********************************************************/
 
 /** 
 * The selector groupings are from Garland which offers a
 * sensible starting point for styling Drupal tables.
 */
 
table {
  border-spacing: 0;
  margin: 1em 0; 
  padding: 0; 
  width: 100%;
}

caption, th, td {
  font-weight: normal;
  text-align: left; /* LTR */
}

table, td, th {
  vertical-align: middle;
}

tbody, tfoot, thead, tr {
  margin: 0; 
  padding: 0;
}

thead th {
  border-bottom: 0.1875em solid #C0C0C0; 
  color: #494949;
  font-weight: bold; 
}

td, th {
  border-bottom: 1px solid #CCC;
  margin: 0;
  padding: 0.375em 0.5em; 
}

tr.even,
tr.odd,
tbody th {
  /* border-bottom: 1px solid #CCC; System default */
}

tr.odd, 
tr.info {
  background-color: #F5F5F5;
}

tr.even {
  background-color: #FFF;
}

tr.drag {
  background-color: #FFFFF0;
}

tr.drag-previous  {
  background-color: #FFD;
}

tr.odd td.active  {
  background-color: #EEE;
}

tr.even td.active {
  background-color: #F7F7F7;
}

td.region, 
td.module, 
td.container td.category {
  background-color: #EEE;
  border-bottom: 1px solid #CCC;
  border-top: 1.5em solid #FFF;
  color: #222;
  font-weight: bold;
}

tr:first-child td.region,
tr:first-child td.module, 
tr:first-child td.container {
  border-top-width: 0;
}


/**********************************************************
 *                   Table links
 **********************************************************/
table a:link, 
table a:visited {}
table a:visited, 
table a.active  {}


/**********************************************************
 *                     Forum tables
 **********************************************************/
#forum table {
  width: 100%;
}

/* Position forum icons. */
#forum tr td.forum { 
  background-position: 5px 5px!important;
  padding-left: 1.67em; 
}

/* Add padding left to the forum name. */
#forum tr td.forum .name {
  padding-left: 0.375em;
}

#forum div.indent  {
  margin-left: 0.5em;
}


/**********************************************************
 *                 Local tasks tabs
 **********************************************************/
.local-tasks {
  margin-bottom: 0.75em;
}

ul.primary {
  border-bottom-color: #CCC;
  margin: 1.5em 0 0 0; 
  padding: 0 0 0.2em 1em;
}

ul.primary li a {
  background-color: #EEE;
  border-color: #CCC;
  padding: 0.1em 0.75em 0.2em;
}

.local-tasks ul.primary li a:hover  {
  background-color: #F5F5F5;
  border-color: #DDD;
}

.local-tasks ul.primary li.active a {
  background-color: #FFF;		
  border-bottom-color: #FFF;
}

ul.secondary {
  border-bottom: 1px solid #BBB;
  margin: 0 0 1em;
  padding: 1em 0;
}

ul.secondary li {
  border-right: none;
  padding:0 0.75em;
}

ul.secondary a:hover,
ul.secondary a.active {
  border-bottom: none;
  text-decoration: underline;
}


/**********************************************************
 *                      Nodes
 **********************************************************/
/* section type class when viewing a node */
.page-node   {}

/* section type classes for node workflow states */
.node-add    {}
.node-edit   {}
.node-delete {}

.node {
  margin: 0 0 1.5em;
}

/* Over-ride default .inner styles. */
.node-inner {}

/* Node title on teasers and other lists. */
.node-title {}

.node-title a:link,
.node-title a:visited,
.node-title a:active {
  text-decoration: none;
}

.node-title a:hover {
  text-decoration: underline;
}

.node .user-picture {
  float: left;
  margin: 0.3em 0.5em 0.1em 0;
}

.node .user-picture img {}

.node-submitted {
  color: #888;
  margin: 0;	
}

.node-submitted a {}
.node-submitted a:hover {}

/* Node content wrapper. */
.node-content {}

.node-terms {}

.node-links {
  display: block; 
  text-align: right;
}

/* Theme sticky nodes. */
.node .sticky {}

/* Theme node status. */
.node .unpublished {}
 
/* Theme nodes that belong to the author. */
.node-mine {}

/* Theme the node teaser seperatly. */
.node-teaser {}
.node-teaser .node-inner {}


/**********************************************************
 *                   Core node types
 **********************************************************/
.node-type-blog  {}
.node-type-page  {}
.node-type-story {}
.node-type-forum {}
.node-type-book  {}
.node-type-poll  {}

/* Clear the user picture on Polls. */
.node-type-poll .node-content {clear: both;}


/**********************************************************
 *                 Custom node types
 **********************************************************/
/** 
 * Replace CONTENT_TYPE with the content type 
 * machine-readable name. 
 */
.node-type-CONTENT_TYPE {}


/**********************************************************
 *                    CCK Fields
 **********************************************************/
/* Wrapper for any CCK field. */
.field {}

/* Use "datetime" when creating new CCK date fields. */
.field-type-datetime {}

/* Filefield field. */
.field-type-filefield {}

/* Imagefield field. */
.field-type-image {}

/* Node reference field. */
.field-type-nodereference {}

/* User reference field. */
.field-type-userreference {}

/* Number fields. */
.field-type-number-decimal {}
.field-type-number-float {}
.field-type-number-integer {}

/* Text field. */
.field-type-text {}

/**
 * Specific field names.
 */
/* Underscores in field name are replaced with dashes. */
.field-field-FIELDNAME {}


/**********************************************************
 *                       Blocks
 **********************************************************/
/**
 * Styles set here will be inherited by all blocks.
 */
.block {
  clear: both;
  margin: 0 0 1.5em;
  padding: 0;
}

/* Over-ride default .inner styles. */
.block-inner {}

/* Default node title. */
block-title {}

/* Block content wrapper. */
.block-content {
  padding: 0;
}

tr .block {
  border: none; /* Blocks page table. */
}

/**
 * Sidebar and Region Specific Block Styles
 *
 * You can target blocks in one or more regions and 
 * style them differently. 
 */
/* Low specifity selector to style blocks in both sidebars. */
.sidebar .block {}

/* High specifity selectors to style blocks in one sidebar. */
#sidebar-left .block {}
#sidebar-left .block h2 {}
#sidebar-left .block-inner {}
#sidebar-left .block .block-content {}

#sidebar-right .block {}
#sidebar-right .block h2 {}
#sidebar-right .block-inner {}
#sidebar-right .block .block-content {}

/* Low specifity selector to style blocks in all regions. */
.region .block {}

/* High specifity selectors to style blocks in one region. */
#leaderboard .block       {}
#header-blocks .block     {}
#secondary-content .block {}
#tertiary-content .block  {}
#content-top .block       {}
#content-bottom .block    {}
#footer .block            {}

/**
 * Block Odd & Even Styles (Zebra)
 * Each region can have alternating styles for Odd and Even 
 * count blocks, such as;
 */
.sidebar .odd-block  {}
.sidebar .even-block {}

#sidebar-left .odd-block  {}
#sidebar-left .even-block {}

#sidebar-right .odd-block  {}
#sidebar-right .even-block {}

/**
 * Alternative Approach to Region Block Styling
 *
 * Blocks are aware of what region they are in, so its
 * possible to use chained selectors such as;
 *
 * .block.odd.right {}
 */

/**
 * Drupal Core Blocks 
 * This is most of the core blocks as far as I can remember, 
 * please post an issue if I have missed any :)
 */
#block-system-0  {} /* Powered by Drupal block */
#block-user-0    {} /* Login block             */
#block-user-1    {} /* Navigation Menu block   */
#block-user-2    {} /* Who's New block         */
#block-user-3    {} /* Who's Online block      */
#block-comment-0 {} /* Recent Comments block   */
#block-search-0  {} /* Search form block       */
#block-forum-0   {} /* Active Forum topics     */
#block-forum-1   {} /* New Forum topics        */
#block-blog-0    {} /* Recent Blog posts       */
#block-node-0    {} /* Syndicate block         */
#block-locale-0  {} /* Language Switcher block */

/* The class selector applies to all blocks of these types. */
.block-user {} 
.block-book {} 
.block-aggregator {}


/**********************************************************
 *                   Menu blocks
 **********************************************************/
/**
 * Prefix these with the block id to style one menu only.
 */
ul.menu {
  margin: 0;
  padding: 0;
}

ul.menu li,
li.expanded,
li.collapsed,
li.leaf {
  margin: 0;
}

/* Override Drupal default bullet gifs with a CSS Sprite */
ul.menu li {
  background: none;
  display: block;
  list-style: none;
  list-style-image: none;
  padding: 0.35em 0 0 1em; /* LTR */
}

ul.menu li.collapsed,
ul.menu li.expanded,
ul.menu li.leaf {
  background: transparent url(../images/sprite.png) no-repeat;
}

ul.menu li.collapsed {
  background-position: -19px -8px; /* LTR */
}

ul.menu li.expanded {
  background-position: -40px -26px; /* LTR */
}

ul.menu li.leaf {
  background-position: -19px 10px; /* LTR */
}

ul.menu li a:link    {}
ul.menu li a:hover   {}
ul.menu li a:visited {}
ul.menu li.active a  {}
ul.menu li.active-trail {}

ul.menu li.first {}
ul.menu li.last  {}


/**********************************************************
 *                   Block lists
 **********************************************************/
.block .item-list ul {margin: 0;}
.block .item-list ul li {}


/**********************************************************
 *                     Comments
 **********************************************************/
/* Comment wrapper */
#comment-wrapper {}
h2#comment-wrapper-title {}
	
.comment {
  margin: 0 0 0.375em 0;
  padding: 0.375em; 
}

/* Over-ride default .inner styles. */
.comment-inner {}

.comment .indented {
  margin-left: 2em; /* LTR */
}

/* The title of each comment. */
.comment-title {
  margin-bottom: 0;
}
.comment-id {color: #888;}
.comment-title .new {color: #FF8000;}

.comment-title a:link,
.comment-title a:visited,
.comment-title a:active {
  text-decoration: none;
}

.comment-title a:hover {
  text-decoration: underline;
}

.comment .user-picture {
  float: right; /* RTL */
  margin: 0.3em 0 0.1em 0.3em; /* LTR */
}

.comment .user-picture img {
  padding: 0;
}

.comment-submitted {
  color: #888;
  margin: 0;
}

.comment-submitted a {}
.comment-submitted a:hover {}

/* Comment content wrapper. */
.comment-content {}

.comment .links {
  text-align: right; /* LTR */
  clear: both;
}

/* Zebra styles for comments. */
.comment.odd  {}
.comment.even {}

/* Style comments depending on the comment author. */
.comment-by-author {}
.comment-by-anon   {}
.comment-mine      {}

/* Theme comment status. */
.comment .unpublished {}


/**********************************************************
 *                          html, Body
 **********************************************************/
html {}
body {}


/**********************************************************
 *                     The wrapper divs
 **********************************************************/
/**
 * Be careful how you modify these, see layout.css first.
 */
#container {}

/* Column wrappers */
#columns {}
#columns-inner {}

/* Content wrappers */
#content-column {}
#main-content {}
#content {}


/**********************************************************
 *                     Width Setting
 **********************************************************/
/**
 * Override the default width (80em - see layout.css).
 * 80 * 12 = 960px
 *
 * Genesis supports both Fluid and Fixed width values.
 *
 * Liquid layouts use %, e.g.
 * .width {width: 85%;}
 *
 * Fixed width layouts use em or px, e.g.
 * .width {width: 960px;}
 * .width {width: 80em;}
 */
.width {
  width: 85%;
/* max-width: 1100px; set a max width */
/* min-width: 960px; set a min width */
}


/**********************************************************
 *                    Global padding
 **********************************************************/
/**
 * You can set a global value using .inner and override it 
 * using a more specific selector such as "#sidebar-left .inner".
 */
.inner {}


/**********************************************************
 *                       Regions
 **********************************************************/
/* Target all regions with this low specifity selector. */
.region {}
.region-inner {}

/**
 * Most regions have an .inner div to set paddings or other
 * design contingencies.
 */
 
/* Leaderboard is a full width region at the very top, 
   ideal for displaying banners. */
#leaderboard {}

/* Header blocks region is embedded in the header, 
   usefull for displaying small banners. */
#header-blocks {}
#header-blocks .inner {}
#header-blocks .region-inner {}

/* Secondary content is a full width region between 
   the header and the main columns. */
#secondary-content {}
#secondary-content .inner {}
#secondary-content .region-inner {}

/* Tertiary content is a full width region above the footer, 
   below the main content. */
#tertiary-content {}
#tertiary-content .inner {}
#tertiary-content .region-inner {}

/* Content top and bottom are above and below the main content, 
   within the main content column. */
#content-top {}
#content-bottom {}


/**********************************************************
 *                      Sidebars
 **********************************************************/
/* Target both sidebars with this low specifity selector. */
.sidebar {}
.sidebar .inner {}
.sidebar-inner {}

/* Target a specific sidebar, inner or sidebar-inner. */
#sidebar-left {}
#sidebar-left .inner {}
#sidebar-left .sidebar-inner {}

#sidebar-right {}
#sidebar-right .inner {}
#sidebar-right .sidebar-inner {}


/**********************************************************
 *                   Skip navigation
 **********************************************************/
#skip-nav {text-align: center;}
#skip-nav a:link    {}
#skip-nav a:hover   {}
#skip-nav a:visited {}


/**********************************************************
 *                       Header 
 **********************************************************/
/**
 * #header-nav wraps #header and #nav.
 */
#header-nav {}

/* #header wraps #branding, #search-box-top and #header-blocks. */
#header {}

/* Over-ride default .inner styles. */
#header .inner {}
#header .header-inner {}

/* #branding wraps #logo, #site-name and #site-slogan. */
#branding {float: left;}

/* Logo. */
#logo {}

/* h1 is for the front page only, all others use the div. */
h1#site-name,
div#site-name  {
  font-size: 2em ;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

#site-name a:link,
#site-name a:visited {}
#site-name a:hover   {}

/* Site slogan. */
#site-slogan {}


/**********************************************************
 *                        Search
 **********************************************************/
/* Float the serch box right. */
#search-box-top {float: right;}

/* Reset form element margins to allow more precise positioning. */
#search-box-top form,
#search-box-top div.form-item {margin: 0;}

/* Pad the serch box 1.5em top and bottom. */
.search-box-inner {padding: 1.5em 0;}

#search-theme-form {}
#search-theme-form label {}
#search-theme-form input {}
#search-theme-form .form-item {}
#search-theme-form .form-submit {}

#edit-search-theme-form-1 {}
#edit-search-theme-form-1:hover,
#edit-search-theme-form-1:focus {}

/* Search Results Page - see .box */
.section-search #search-form {}
.section-search #search-form {}


/**********************************************************
 *               Primary & Secondary Links
 **********************************************************/
/**
 * Implimentation of Primary and Secondary Links.
 *
 * Primary & Secondary Links are colored by default so you 
 * can easily identify them.
 */

/**
 * #nav is the containing div for Primary & Secondary Links.
 */
#nav {
  clear: both; 
  margin: 0.75em 0;
}

/* There is no global .inner on the nav div. */
#nav-inner {}

/**
 * Primary Links Positioning
 */
/* FLOAT PRIMARY RIGHT */
/* #primary .primary-inner {float: right;} */
/* ALIGN PRIMARY CENTER */
/* #primary .primary-inner {display: table; margin: 0 auto; text-align: center;} */

/**
 * Primary Links Style
 * Example styles to get you started.
 */
#primary {
  background: #EEE; /* Default gray for dev only. */
  font-weight: bold;
  padding: 0;
}

.primary-inner {}

/* Modify the margin to positing the menu. */
#primary .links {
  margin: 0; /* RTL */
}

/* Modify the margin to set tab spacings. */
#primary .links li {
  display: inline;
  line-height: 3;
  list-style: none;
  margin: 0 1em;
  padding: 0;
}

#primary .links li a {
  text-decoration: none;
  white-space: nowrap;
}

#primary .links li.active {}

#primary .links li a:hover {}
#primary .links li a.active {}
#primary .links li a.visited {}
#primary .links li a.active-trail {}

/* Primary first and last classes */
#primary .links li.first {}
#primary .links li.last {}

/* Set unique active-trail styles */
/* #primary ul.links li a.active-trail {} */

/**
 * Secondary Links Positioning
 */
/* FLOAT SECONDARY RIGHT */
/* #secondary .secondary-inner {float: right;} */
/* ALIGN SECONDARY CENTER */
/* #secondary .secondary-inner {display: table; margin: 0 auto; text-align: center;} */

/**
 * Secondary Links Style
 */
#secondary {
  background: #F8F8F8; /* Default gray for dev only. */
  font-weight: bold;
  padding: 0;
}

.secondary-inner {}

/* Modify the margin to positing the menu. */
#secondary .links {
  margin: 0; /* RTL */
}

/* Modify the margin to set tab spacings. */
#secondary .links li {
  display: inline;
  line-height: 3;
  list-style: none;
  margin: 0 1em;
  padding: 0;
}

#secondary .links li a {
  text-decoration: none;
  white-space: nowrap;
}

#secondary .links li.active {}

#secondary .links li a:hover  {}
#secondary .links li a.active {}
#secondary .links li a.visited {}
#secondary .links li a.active-trail {}

/* Secondary first and last classes */
#secondary .links li.first {}
#secondary .links li.last {}


/**********************************************************
 *                      Breadcrumb
 **********************************************************/
/**
 * Genesis places the breadcrumb directly below the header, 
 * giving it the full width of theme to expand into.
 * You can eaisly drag the breadcrumb html to the main 
 * content column if you need to.
 */
#breadcrumb {}

.breadcrumb-inner {
  padding: 0 0 0.75em;
}

/**********************************************************
 *                       Mission
 **********************************************************/
#mission {
  font-weight: bold;
  margin: 0 0 1.5em;
  padding: 0;
}

/**********************************************************
 *                     Pager 
 **********************************************************/
/* The first 2 classes provide the base pager styles. */
.item-list ul.pager    {}
.item-list ul.pager li {margin: 0;}

/* Theme the various states of pager links. */
.item-list ul.pager li a:link    {}
.item-list ul.pager li a:visited {}
.item-list ul.pager li a:hover   {}

/* Note: .pager-current is for the current page. */
.item-list ul.pager li.pager-item     {}
.item-list ul.pager li.first          {}
.item-list ul.pager li.last           {}
.item-list ul.pager li.pager-current  {}
.item-list ul.pager li.pager-first    {}
.item-list ul.pager li.pager-previous {}
.item-list ul.pager li.pager-next     {}
.item-list ul.pager li.pager-last     {}


/**********************************************************
 *               Footer, Footer Message
 **********************************************************/
#foot-wrapper {
  margin: 0.375em 0;
  padding: 0;
}

#footer {}
#footer .inner {}
#footer .region-inner {}

#footer-message {}

#footer a, 
#footer-message a {
  padding: 0.375em;
}


/**********************************************************
 *                 RSS Feed Icon
 **********************************************************/
.feed-icon {}
.feed-icon img {}
#footer-message a.feed-icon {}


/**********************************************************
 *                   Profile
 **********************************************************/
/* Position the user picture on the right in user profiles. */
.profile .user-picture {
  float: right; 
  margin: 2em 0 1em 0.5em; /* RTL */
}

/* Fix alignment on user profile page. */
.profile dt {
  margin: 1.4em 0 0 0;
}


/**********************************************************
 *               Book navigation
 **********************************************************/
/** 
 * Book navigation styles to get you started.
 */
.book-navigation {}
.book-navigation ul {}
.book-navigation ul li {}
.book-navigation ul li a {}
.book-navigation .page-links {
  border: none;
  margin-bottom: 1.5em;
  padding: 0.75em;
}
.book-navigation .page-links a {}
.book-navigation .page-links a.page-up {}
.book-navigation .page-links a.page-next {}
.book-navigation .page-links a.page-previous {}
.book-navigation .menu {
  margin: 0 0 1.5em;
  padding: 1.5em 0 0 3em;
}


/**********************************************************
 *                    Polls
 **********************************************************/
/* Poll bar background. */
.poll .bar  {}  

/* Poll bar forground, the colored bar indicating poll votes. */
.poll .bar .foreground {}

.poll .text    {}
.poll .links   {}
.poll .percent {}
.poll .total   {}
.poll .vote-form {}


/**********************************************************
 *                      Box
 **********************************************************/
/* Search form on the results page, includes advanced search. */
.section-search .box {}
.section-search .box-inner {}
.section-search .box-title {}

/* Comment form on a seperate page. */
.section-comment .box {}
.section-comment .box-inner {}
.section-comment .box-title {}

/* Comment form below content. */
#comments .box {}
#comments .box-inner {}
#comments .box-title {}

/* Generic box selectors. */
.box {}
.box-inner {}
.box-title {}
.box-content {}
.box form       {}
.box .form-item {}
.box fieldset   {}