/* $Id$ */

/**
 * @file blocks.css
 * Basic styles for blocks.
 */

/**********************************************************
 *                       Blocks
 **********************************************************/
/**
 * Styles set for .block, .block-inner, block-title and 
 * .block-content will be inherited by all blocks.
 */
.block {
  clear: both;
  margin: 0 0 1.5em;
}

.block-inner   {} /* Block inner div */
.block-title   {} /* h2 block title */
.block-content {} /* Block content wrapper */


/**********************************************************
 *                   Sidebar blocks
 **********************************************************/
/**
 * You can target blocks in one or more regions and 
 * style them differently. 
 */
/* Low specifity selector to style blocks in both sidebars. */
.sidebar .block {}
.sidebar .block h2 {}
.sidebar .block-inner {}
.sidebar .block .block-content {}

/* Low specifity selector to style blocks in all regions. */
.region .block {}
.region .block h2 {}
.region .block-inner {}
.region .block .block-content {}

/* High specifity selectors to style blocks in one sidebar. */
#sidebar-first .block {}
#sidebar-first .block h2 {}
#sidebar-first .block-inner {}
#sidebar-first .block .block-content {}

#sidebar-second .block {}
#sidebar-second .block h2 {}
#sidebar-second .block-inner {}
#sidebar-second .block .block-content {}


/**********************************************************
 *                  Region blocks
 **********************************************************/
/* High specifity selectors to style blocks in one region. */
#leaderboard       .block {}
#header-blocks     .block {}
#help              .block {}
#secondary-content .block {}
#tertiary-content  .block {}
#highlight         .block {}
#content           .block {}
#footer            .block {}


/**********************************************************
 *                   Module blocks
 **********************************************************/
/**
 * Module Block ID's 
 * For contributed module blocks the pattern is the same,
 * i.e. #block-[module]-[delta]
 */
#block-book-navigation             {} /* Book navigation block   */
#block-blog-recent                 {} /* Recent Blog posts       */
#block-comment-recent              {} /* Recent Comments block   */
#block-forum-active                {} /* Active Forum topics     */
#block-forum-new                   {} /* New Forum topics        */
#block-locale-language-switcher    {} /* Language Switcher block */
#block-node-syndicate              {} /* Syndicate block         */
#block-poll-recent                 {} /* Most recent poll        */
#block-profile-author-information  {} /* Author information      */
#block-statistics-popular          {} /* Popular content         */
#block-system-help                 {} /* Help block        */
#block-system-management           {} /* Management block        */
#block-system-powered-by           {} /* Powered by Drupal       */
#block-user-login                  {} /* Login block             */
#block-system-navigation           {} /* Navigation Menu block   */
#block-user-new                    {} /* Who's New block         */
#block-user-online                 {} /* Who's Online block      */

/* Primary and Secondary links blocks */
#block-menu-main-menu-links   {}
#block-menu-secondary-links {}

/* The class selector applies to all blocks of these types. */
.block-user {}
.block-book {} 
.block-aggregator {}


/**********************************************************
 *                 Search block form
 **********************************************************/
 
#block-search-form {}
#block-search-form .block-inner {}
#block-search-form .block-content {}

#search-block-form {}

/* Wrapper divs. */
#search-block-form > div {}
#search-block-form .container-inline {}

#search-block-form .form-item-search-block-form {}

#search-block-form label {}
#search-block-form input {}
#search-block-form .form-item {}
#search-block-form .form-submit {}
#search-block-form #edit-search-block-form-2 {}

/* Override forms.css focus style */
#edit-search-block-form-2:hover,
#edit-search-block-form-2:focus {}


/**********************************************************
 *                   Menu blocks
 **********************************************************/
/**
 * Prefix these with the block id to style one menu only.
 */
ul.menu,
ul.menu ul, 
ul.menu ul ul, 
ul.menu ul ul ul {
  margin: 0 0 0 0.75em; /* LTR */
  padding: 0;
}

/* Menu li styles */
ul.menu li {
  padding: 0.35em 0 0 0; /* LTR */
}

ul.menu li.collapsed {}
ul.menu li.expanded  {}
ul.menu li.leaf      {}

ul.menu li a:link    {}
ul.menu li a:hover   {}
ul.menu li a:visited {}
ul.menu li.active a  {}
ul.menu li.active-trail {}

ul.menu li.first {}
ul.menu li.last  {}


/**********************************************************
 *                   Block item-list
 **********************************************************/
.block .item-list ul {
  margin: 0;
}
.block .item-list ul li {}


/**********************************************************
 *                  Gpanel blocks
 **********************************************************/
/* Examples to get started. Add col specific selectors to style
   blocks in different Gpanel columns, or element selectors to
   style specific elements */
.two-col-50 .block {}
.two-col-50.with-nested .block {}
.three-col-33 .block {}
.four-col-25 .block {}



