/* $Id$ */


/**
	* @file genesis_SUBTHEME.css
	* This stylesheet provides the main styles for this theme.
	*/


/**
	* Remove unused styles for performace.
	*/


/**********************************************************
 *                          Body
 **********************************************************/
/**
 * Set global color, background & font family.
	*
	* FONT SIZE
	* Genesis sizes everything in ems relative to 12px. If you set
	* a font size here you will change the width of sidebars and all
	* the default widths, paddings, margins and typographical styles!
	*/
body {}


/**********************************************************
 *                     The wrapper divs
 **********************************************************/
/**
	* Be careful how you modify these, see layout.css first.
	*/
#container {}
#columns   {}
#content   {}
#main-content {}


/**********************************************************
 *                     Width Setting
 **********************************************************/
/**
	* Override the default width (80em - see layout.css).
	* 80 * 12 = 960px
	*
	* Genesis supports both Fluid and Fixed width values.
	*
	* For a Liquid layout use precentages, e.g
	* .width {width: 85%;}
	*
	* For Fixed width theme, use ems or pixels, e.g
	* .width {width: 960px;}
	* .width {width: 80em;}
	*/
.width {width: 80em;}


/**********************************************************
 *                       Regions
 **********************************************************/
/* Target all regions with this low specifity selector. */
.region {}
.region-inner {}

/**
	* Most regions have an .inner div to set paddings or other
	* design contingencies.
	*/
/* Leaderboard is a full width region at the very top, ideal for displaying banners. */
#leaderboard {}

/* Header blocks region is embedded in the header, usefull for displaying small banners. */
#header-blocks {}
#header-blocks .inner {}
#header-blocks .region-inner {}

/* Secondary content is a full width region between the header and the main columns. */
#secondary-content {}
#secondary-content .inner {}
#secondary-content .region-inner {}

/* Tertiary content is a full width region above the footer, below the main content. */
#tertiary-content {}
#tertiary-content .inner {}
#tertiary-content .region-inner {}

/* Content top and bottom are above and below the main content, within the main content column. */
#content-top {}
#content-bottom {}


/**********************************************************
 *                    Global padding
 **********************************************************/
/**
	* You can set a global value using .inner and override it 
	* using a more specific selector such as "#sidebar-left .inner".
	*/
/* Global default inner padding */
.inner {}

/* #content-inner is the main content wrapper */
#content-inner {}


/**********************************************************
 *                      Sidebars
 **********************************************************/
	/* Target both sidebars with this low specifity selector. */
.sidebars {}
.sidebars .inner {}
.sidebar-inner {}

/* Target a specific sidebar or its sidebar-inner. */
#sidebar-left {}
#sidebar-left .inner {}
#sidebar-left .sidebar-inner {}

#sidebar-right {}
#sidebar-right .inner {}
#sidebar-right .sidebar-inner {}


/**********************************************************
 *                 Global Link Styles
 **********************************************************/
a:link    {}
a:visited {}
a:hover   {}
a:active  {}
a.active  {}
a.active-trail {}

/* Drupal sets this to black. */
li a.active {}

/* Remove borders on linked images. */
a img {border: none;}


/**********************************************************
 *                    HTML elements 
 **********************************************************/
/** 
	* Add any html elements you require. 
	* Use genesis/css/type.css as a guide.
	*/
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p  {}
blockquote {}

/* The main title on each page. */
h1#page-title {}


/**********************************************************
 *                       Header 
 **********************************************************/
/**
	* #header-nav wraps #header and #nav.
	*/
#header-nav {}

/* Conditional classes for theming the header. */
#header-nav.with-header    {}
#header-nav.without-header {}
#header-nav.with-nav       {}
#header-nav.without-nav    {}

/* #header wraps #branding, #search-box-top and the #header-blocks region. */
#header {}

/* Over-ride default .inner styles. */
#header .inner {}
#header .header-inner {}

/* #branding wraps #logo, #site-name and #site-slogan. */
#branding {float: left;}

/* Logo. */
#logo {}

/* h1 is for the front page only, all others use the div. */
h1#site-name,
div#site-name  {
  font-size: 2em ;
		line-height: 1.5;
		margin: 0;
		padding: 0;
		font-weight: bold;
}

#site-name a:link,
#site-name a:visited {}
#site-name a:hover   {}

/* Site slogan. */
#site-slogan {}


/**********************************************************
 *                        Search
 **********************************************************/
/* Float the serch box right. */
#search-box-top {float: right;}

/* Pad the serch box 1.5em top and bottom. */
.search-box-inner {padding: 1.5em 0;}

#search-box-inner #edit-search-theme-form-1 {}
#search-box-inner #edit-search-theme-form-1:hover,
#search-box-inner #edit-search-theme-form-1:focus {}

#search-box-top label {}
#search .form-submit  {}

/* Reset form element margins to allow more precise positioning. */
#search-box-top form,
#search-box-top div.form-item {margin: 0;} 

/* Search Results Page - see .box */
.section-search #search-form {}
.section-search #search-form {}


/**********************************************************
 *               Primary & Secondary Links
 **********************************************************/
/**
	* Implimentation of Primary and Secondary Links.
	*
 * Primary & Secondary Links are colored by default so you 
	* can easily identify them.
	*/

/**
	* #nav is the containing div for Primary & Secondary Links.
	*/
#nav {
  clear: both; 
		margin: 0.75em 0;
}

/**
 * Classes to support any nav menu configuration.
	*/
#nav.primary-secondary {} /* Both primary and secondary menus. */
#nav.with-primary      {} /* Primary menu only. */
#nav.with-secondary    {} /* Secondary menu only. */

/* There is no global .inner on the nav div. */
#nav-inner {}

/**
	* Primary Links Positioning
	*
	* Default is aligned left - uncomment either of these
	* to set the primary links Right or Center.
	*/
	
/* FLOAT PRIMARY RIGHT */
/*
#primary .primary-inner {float: right;}
*/

/* ALIGN PRIMARY CENTER */
/*
#primary .primary-inner {display: table; margin: 0 auto; text-align: center;}
*/

/**
	* Primary Links Style
	* Example styles to get you started.
	*/
#primary { 
	 padding: 0;
	 background: #EEE; /* Default gray for dev only. */
		font-weight: bold;
}

.primary-inner {}

/* Modify the margin to positing the menu. */
#primary .links {
 	margin: 0; /* RTL */
}

/* Modify the margin to set tab spacings. */
#primary .links li {
		display: inline;
		list-style: none;
		line-height: 3;
		padding: 0;
		margin: 0 1em;
}

#primary .links li a {
		text-decoration: none;
		white-space: nowrap;
}

#primary .links li.active {}

#primary .links li a:hover {}
#primary .links li a.active {}
#primary .links li a.visited {}
#primary .links li a.active-trail {}

/* Primary first and last classes */
#primary .links li.first {}
#primary .links li.last {}


/* Set unique active-trail styles */
/*#primary ul.links li a.active-trail {}*/

/**
	* Secondary Links Positioning
	*
	* Default is aligned left - uncomment either of these
	* to set the secondary links Right or Center.
	*/

/* FLOAT SECONDARY RIGHT */
/*
#secondary .secondary-inner {float: right;}
*/

/* ALIGN SECONDARY CENTER */
/*
#secondary .secondary-inner {display: table; margin: 0 auto; text-align: center;}
*/

/**
	* Secondary Links Style
	*/
#secondary { 
	 padding: 0;
	 background: #F8F8F8; /* Default gray for dev only. */
		font-weight: bold;
}

.secondary-inner {}

/* Modify the margin to positing the menu. */
#secondary .links {
	 margin: 0; /* RTL */
}

/* Modify the margin to set tab spacings. */
#secondary .links li {
		display: inline;
		list-style: none;
		line-height: 3;
		padding: 0;
		margin: 0 1em;
}

#secondary .links li a {
		text-decoration: none;
		white-space: nowrap;
}

#secondary .links li.active {}

#secondary .links li a:hover  {}
#secondary .links li a.active {}
#secondary .links li a.visited {}
#secondary .links li a.active-trail {}

/* Secondary first and last classes */
#secondary .links li.first {}
#secondary .links li.last {}


/**********************************************************
 *                       Menus
 **********************************************************/
/**
 * Prefix these with the block id to style one menu only.
	*/
ul.menu {}
ul.menu li {}

ul.menu li.leaf {}
ul.menu li.collapsed {}
ul.menu li.expanded  {}
ul.menu li.active-trail {}

ul.menu li.first {}
ul.menu li.last  {}


/**********************************************************
 *                      Breadcrumb
 **********************************************************/
/**
	* Genesis places the breadcrumb directly below the header, 
	* giving it the full width of theme to expand into.
	* You can eaisly drag the breadcrumb html to the main 
	* content column if you need to.
	*/
#breadcrumb {
  margin: 0;
}
.breadcrumb {
  margin: 0;
  padding: 0 0 0.75em 0;
}


/**********************************************************
 *                       Mission
 **********************************************************/
#mission {
  margin: 0 0 1.5em 0;
		padding: 0;
		font-weight: bold;
}


/**********************************************************
 *                        Nodes
 **********************************************************/
/** 
	* Implimentation of node styles.
	*/
/* 1.5em margin bottom on nodes preserves the vertical grid. */
.node {margin: 0 0 1.5em;}

/* Over-ride default .inner styles. */
.node-inner {}

/* Node title on teasers and other lists. */
.node-title {}

.node-title a:link,
.node-title a:visited,
.node-title a:active {
  text-decoration: none;
}

.node-title a:hover {
  text-decoration: underline;
}

.node .user-picture {
  float: left;
  margin: 0.3em 0.5em 0.1em 0;
}

.node .user-picture img {}

.node-submitted {
  color: #888;
	 margin: 0;	
}

.node-submitted a {}
.node-submitted a:hover {}

/* Node content wrapper. */
.node-content {}

.node-terms {}

.node-links {
  display: block; 
	 text-align: right;
}

/* Theme sticky nodes. */
.node .sticky {}

/* Theme node status. */
.node .unpublished {}

/* Theme node types. */
.node-type-blog  {}
.node-type-page  {}
.node-type-story {}
.node-type-forum {}
.node-type-book  {}
.node-type-poll  {}

/* Clear the user picture on Polls. */
.node-type-poll .node-content {clear: both;}
 
/* Theme nodes that belong to the author. */
.node-mine {}

/* Theme the node teaser seperatly. */
.node-teaser {}
.node-teaser .node-inner {}


/**********************************************************
 *                       Blocks
 **********************************************************/
/** 
	* Implimentation of block styles.
	* Styles set here will be inherited by all blocks.
	*/
.block {
  padding: 0;
  margin: 0 0 1.5em;
  clear: both;
}

/* Over-ride default .inner styles. */
.block-inner {}

/* Default node title. */
block-title {}

/* Block content wrapper. */
.block-content {
  padding: 0;
}

/* Block lists */
.block ul {}
.block ul li {}
.block .item-list ul {}
.block .item-list ul li {}

tr .block {
  border: none; /* Blocks page table. */
}

/**
	* Style an Individual Block
	*
	* If you need to modify the styles for a particular block, 
	* use the blocks ID, for example;
	* 
	* #block-block-1 {}
	*/

/**
	* Sidebar and Region Specific Block Styles
	*
	* You can target blocks in one or more regions and 
	* style them differently. 
	*/
/* Low specifity selector to style blocks in both sidebars. */
.sidebar .block {}

/* High specifity selectors to style blocks in one sidebar. */
#sidebar-left .block {}
#sidebar-left .block h2 {}
#sidebar-left .block-inner {}
#sidebar-left .block .block-content {}

#sidebar-right .block {}
#sidebar-right .block h2 {}
#sidebar-right .block-inner {}
#sidebar-right .block .block-content {}

/* Low specifity selector to style blocks in all regions. */
.region .block {}

/* High specifity selectors to style blocks in one region. */
#leaderboard .block       {}
#header-blocks .block     {}
#secondary-content .block {}
#tertiary-content .block  {}
#content-top .block       {}
#content-bottom .block    {}
#footer .block            {}

/**
	* Block Odd & Even Styles (Zebra)
	* Each region can have alternating styles for Odd and Even 
	* count blocks, such as;
	*/
.sidebar .odd-block  {}
.sidebar .even-block {}

#sidebar-left .odd-block  {}
#sidebar-left .even-block {}

#sidebar-right .odd-block  {}
#sidebar-right .even-block {}

/**
	* Alternative Approach to Region Block Styling
	*
	* Blocks are aware of what region they are in, so its
	* possible to use chained selectors such as;
	*
	* .block.odd.right {}
	*/

/**
	* Drupal Core Blocks 
	* This is most of the core blocks as far as I can remember, 
	* please post an issue if I have missed any :)
	*/
#block-system-0  {} /* Powered by Drupal block */
#block-user-0    {} /* Login block             */
#block-user-1    {} /* Navigation Menu block   */
#block-user-2    {} /* Who's New block         */
#block-user-3    {} /* Who's Online block      */
#block-comment-0 {} /* Recent Comments block   */
#block-search-0  {} /* Search form block       */
#block-forum-0   {} /* Active Forum topics     */
#block-forum-1   {} /* New Forum topics        */
#block-blog-0    {} /* Recent Blog posts       */
#block-node-0    {} /* Syndicate block         */
#block-locale-0  {} /* Language Switcher block */

/* The class selector applies to all blocks of these types. */
.block-user {} 
.block-book {} 
.block-aggregator {}


/**********************************************************
 *                     Comments
 **********************************************************/
/** 
	* Implimentation of comment styles.
	*/
/* Comment wrapper */
#comment-wrapper {}
#comment-wrapper-title {}
	
.comment {
  margin: 0 0 0.375em 0;
	 padding: 0.375em; 
}

/* Over-ride default .inner styles. */
.comment-inner {}

.comment .indented {
  margin-left: 2em; /* RTL */
}

/* The title of each comment. */
.comment-title {
	 margin-bottom: 0;
}
.comment-id {color: #888;}
.comment-title .new {color: #FF8000;}

.comment-title a:link,
.comment-title a:visited,
.comment-title a:active {
  text-decoration: none;
}

.comment-title a:hover {
  text-decoration: underline;
}

.comment .user-picture {
  float: right; /* RTL */
	 margin: 0.3em 0 0.1em 0.3em; /* RTL */
}

.comment .user-picture img {
	padding: 0;
}

.comment-submitted {
  color: #888;
	 margin: 0;
}

.comment-submitted a {}
.comment-submitted a:hover {}

/* Comment content wrapper. */
.comment-content {}

.comment .links {
	 text-align: right; 
	 clear: both;
}

/* Zebra styles for comments. */
.comment.odd  {}
.comment.even {}

/* Style comments depending on the comment author. */
.comment-by-author {}
.comment-by-anon   {}
.comment-mine      {}

/* Theme comment status. */
.comment .unpublished {}


/**********************************************************
 *                   Profile
 **********************************************************/
/* Position the user picture on the right in user profiles. */
.profile .user-picture {
  float: right; 
		margin: 2em 0 1em 0.5em; /* RTL */
}

/* Fix alignment on user profile page. */
.profile dt {
  margin: 1.4em 0 0 0;
}


/**********************************************************
 *                     Forum
 **********************************************************/
#forum table {
  width: 100%;
}

/* Position forum icons. */
#forum tr td.forum { 
  background-position: 5px 5px!important; 
  background-position: 5px 5px;
  padding-left: 1.67em; 
}

/* Add padding left to the forum name. */
#forum tr td.forum .name {
  padding-left: 0.375em;
}

#forum div.indent  {
  margin-left: 0.5em;
}


/**********************************************************
 *                     Books
 **********************************************************/
/** 
	* Book navigation styles to get you started.
	*/
.book-navigation {}
.book-navigation ul {}
.book-navigation ul li {}
.book-navigation ul li a {}
.book-navigation .page-links {
  padding: 0.75em;
  margin-bottom: 1.5em;
  border: none;
}
.book-navigation .page-links a {}
.book-navigation .page-links a.page-up {}
.book-navigation .page-links a.page-next {}
.book-navigation .page-links a.page-previous {}
.book-navigation .menu {
  padding: 1.5em 0 0 3em;
  margin: 0 0 1.5em 0;
}


/**********************************************************
 *                    Polls
 **********************************************************/
/* Poll bar background. */
.poll .bar  {}  

/* Poll bar forground, the colored bar indicating poll votes. */
.poll .bar .foreground {}

.poll .text    {}
.poll .links   {}
.poll .percent {}
.poll .total   {}
.poll .vote-form {}


/**********************************************************
 *                      Box
 **********************************************************/
/* Search form on the results page, includes advanced search. */
.section-search .box {}
.section-search .box-inner {}
.section-search .box-title {}

/* Comment form on a seperate page. */
.section-comment .box {}
.section-comment .box-inner {}
.section-comment .box-title {}

/* Comment form below content. */
#comments .box {}
#comments .box-inner {}
#comments .box-title {}

/* Generic box selectors. */
.box {}
.box-inner {}
.box-title {}
.box-content {}
.box form       {}
.box .form-item {}
.box fieldset   {}


/**********************************************************
 *               Footer, Footer Message
 **********************************************************/
/** 
	* Basic styles for the footer.
	*/
#foot-wrapper { 
  text-align: center;
	 margin: 0.375em 0;
	 padding: 0;
}

#footer {}
#footer-message {}

#footer a, 
#footer-message a {
  padding: 0.375em;
}

/**
	* Attribution link.
	*/
p.attribution {}
#footer-message p.attribution a {}
#footer-message p.attribution a:hover {}


/**********************************************************
 *                     Pager 
 **********************************************************/
/* The first 2 classes provide the base pager styles. */
.item-list ul.pager    {}
.item-list ul.pager li {}

/* Theme the various states of pager links. */
.item-list ul.pager li a:link    {}
.item-list ul.pager li a:visited {}
.item-list ul.pager li a:hover   {}

/* Note: .pager-current is for the current page. */
.item-list ul.pager li.pager-item     {}
.item-list ul.pager li.first          {}
.item-list ul.pager li.last           {}
.item-list ul.pager li.pager-current  {}
.item-list ul.pager li.pager-first    {}
.item-list ul.pager li.pager-previous {}
.item-list ul.pager li.pager-next     {}
.item-list ul.pager li.pager-last     {}


/**********************************************************
 *                 RSS Feed Icon
 **********************************************************/
#feed-icon {}
#feed-icon img {}
#feed-icon a.feed-icon {}


/**********************************************************
 *                    Tables
 **********************************************************/
/** 
	* The selector groupings are from Garland which offers a
	* sensible starting point for styling Drupal tables.
	*/
table {}
table a {}

thead th {}
th a:link, 
th a:visited {}
td, th {}

tr.even,
tr.odd,
tbody th {}

tr.odd, 
tr.info  {}

tr.even  {}

tr.drag  {}
tr.drag-previous {}

tr.odd td.active  {}
tr.even td.active {}

td.region, td.module, td.container td.category {}

tr:first-child td.region,
tr:first-child td.module, 
tr:first-child td.container {}

table.system-status-report th {}


/**********************************************************
 *                   Form elements
 **********************************************************/
/**
	* Theming form elements can be an exercise in self-flagellation.
	* Let forms.css & Drupal do the hard work and just set very 
	* basic style over-rides.
	*/
fieldset {}
fieldset legend {}

html.js fieldset.collapsible legend a {}
html.js fieldset.collapsed legend a   {}

.tips {}

input.form-text, textarea {}

.resizable-textarea .grippie {}


/**********************************************************
 *                     Admin
 **********************************************************/
/**
	* <body> class to target most admin pages.
	*/
.section-admin {}

/**
	* Module page specific styles.
	*/
div.admin-dependencies, 
div.admin-required {}
span.admin-enabled {}
span.admin-disabled {}

/**
	* The region notices on the block admin page.
	*/
.block-region {}

/** 
 * Experimental workaround for the theme list page for very narrow themes.
 * When both sidebars are active, the left sidebar overlaps the theme list table,
	* this forces the sidebars to be a set height with scroll bars. 
 */
body.page-admin-build-themes #sidebar-left,
body.page-admin-build-themes #sidebar-right,
body.page-admin-build-themes-select #sidebar-left,
body.page-admin-build-themes-select #sidebar-right {}

/**
	* Admin panels.
	*/
div.admin {}
div.admin .left  {}
div.admin .right {}
div.admin-panel  {}
div.admin-panel h3 {}
div.admin-panel .body {}
div.admin-panel .description {}


/**********************************************************
 *                   Local tasks (tabs)
 **********************************************************/
.local-tasks ul.primary {border-bottom-color: #CCC;}
.local-tasks ul.primary li {}
.local-tasks ul.primary li a {
  background-color: #EEE;
  border-color: #CCC;
}
.local-tasks ul.primary li a:hover  {
  background-color: #F5F5F5;
  border-color: #DDD;
}
.local-tasks ul.primary li.active a {
  background-color: #FFF;		
		border-bottom-color: #FFF;
}

.local-tasks ul.secondary {}
.local-tasks ul.secondary li {}
.local-tasks ul.secondary li a {}
.local-tasks ul.primary li a:hover {}
.local-tasks ul.secondary li.active {}
.local-tasks ul.secondary li a.active {}


/**********************************************************
 *                      Buttons
 **********************************************************/
/**
	* Restyle form buttons.
	*/
button, 
.pushbutton, 
.form-submit {}

button:hover, 
.pushbutton:hover, 
.form-submit:hover {}