/* $Id$ */

/**
 * @file genesis_SUBTHEME.css
 * This stylesheet provides the main styles for this theme.
 */

/**
 * Remove unused styles for performace.
 */

/**********************************************************
 *                          html, Body
 **********************************************************/
html {}
body {}


/**********************************************************
 *                     The wrapper divs
 **********************************************************/
/**
 * Be careful how you modify these, see layout.css first.
 */
#container {}

/* Column wrappers */
#columns {}
#columns-inner {}

/* Content wrappers */
#content-column {}
#main-content {}
#content {}


/**********************************************************
 *                     Width Setting
 **********************************************************/
/**
 * Override the default width (80em - see layout.css).
 * 80 * 12 = 960px
 *
 * Genesis supports both Fluid and Fixed width values.
 *
 * Liquid layouts use %, e.g.
 * .width {width: 85%;}
 *
 * Fixed width layouts use em or px, e.g.
 * .width {width: 960px;}
 * .width {width: 80em;}
 */
.width {
  width: 85%;
/* max-width: 1100px; set a max width */
/* min-width: 960px; set a min width */
}


/**********************************************************
 *                    Global padding
 **********************************************************/
/**
 * You can set a global value using .inner and override it 
 * using a more specific selector such as "#sidebar-left .inner".
 */
.inner {}


/**********************************************************
 *                       Regions
 **********************************************************/
/* Target all regions with this low specifity selector. */
.region {}
.region-inner {}

/**
 * Most regions have an .inner div to set paddings or other
 * design contingencies.
 */
 
/* Leaderboard is a full width region at the very top, 
   ideal for displaying banners. */
#leaderboard {}

/* Header blocks region is embedded in the header, 
   usefull for displaying small banners. */
#header-blocks {}
#header-blocks .inner {}
#header-blocks .region-inner {}

/* Secondary content is a full width region between 
   the header and the main columns. */
#secondary-content {}
#secondary-content .inner {}
#secondary-content .region-inner {}

/* Tertiary content is a full width region above the footer, 
   below the main content. */
#tertiary-content {}
#tertiary-content .inner {}
#tertiary-content .region-inner {}

/* Content top and bottom are above and below the main content, 
   within the main content column. */
#content-top {}
#content-bottom {}


/**********************************************************
 *                      Sidebars
 **********************************************************/
/* Target both sidebars with this low specifity selector. */
.sidebar {}
.sidebar .inner {}
.sidebar-inner {}

/* Target a specific sidebar, inner or sidebar-inner. */
#sidebar-left {}
#sidebar-left .inner {}
#sidebar-left .sidebar-inner {}

#sidebar-right {}
#sidebar-right .inner {}
#sidebar-right .sidebar-inner {}


/**********************************************************
 *                   Skip navigation
 **********************************************************/
#skip-nav {text-align: center;}
#skip-nav a:link    {}
#skip-nav a:hover   {}
#skip-nav a:visited {}


/**********************************************************
 *                       Header 
 **********************************************************/
/**
 * #header-nav wraps #header and #nav.
 */
#header-nav {}

/* #header wraps #branding, #search-box-top and #header-blocks. */
#header {}

/* Over-ride default .inner styles. */
#header .inner {}
#header .header-inner {}

/* #branding wraps #logo, #site-name and #site-slogan. */
#branding {float: left;}

/* Logo. */
#logo {}

/* h1 is for the front page only, all others use the div. */
h1#site-name,
div#site-name {
  font-weight: bold; /* Bold or else the line heights vary. */
}
div#site-name  {
  font-size: 2em;
  line-height: 1.5;
}

#site-name a:link,
#site-name a:visited {}
#site-name a:hover   {}

/* Site slogan. */
#site-slogan {}


/**********************************************************
 *                        Search
 **********************************************************/
/* Float the serch box right. */
#search-box-top {float: right;}

/* Reset form element margins to allow more precise positioning. */
#search-box-top form,
#search-box-top div.form-item {margin: 0;}

/* Pad the serch box 1.5em top and bottom. */
.search-box-inner {padding: 1.5em 0;}

#search-theme-form {}
#search-theme-form > div {}
#search-theme-form label {}
#search-theme-form input {}
#search-theme-form .form-item {}
#search-theme-form .form-submit {}

#edit-search-theme-form-1 {}
#edit-search-theme-form-1:hover,
#edit-search-theme-form-1:focus {}

/* Search Results Page - see .box */
.section-search #search-form {}
.section-search #search-form {}


/**********************************************************
 *               Primary & Secondary Links
 **********************************************************/
/**
 * Implimentation of Primary and Secondary Links.
 *
 * Primary & Secondary Links are colored by default so you 
 * can easily identify them.
 */

/**
 * #nav is the containing div for Primary & Secondary Links.
 */
#nav {
  clear: both; 
  margin: 0.75em 0;
}

/* There is no global .inner on the nav div. */
#nav-inner {}

/**
 * Primary Links Positioning
 */
/* FLOAT PRIMARY RIGHT */
/* #primary .primary-inner {float: right;} */
/* ALIGN PRIMARY CENTER */
/* #primary .primary-inner {display: table; margin: 0 auto; text-align: center;} */

/**
 * Primary Links Style
 * Example styles to get you started.
 */
#primary {
  background: #DDD; /* Default gray for dev only. */
  font-weight: bold;
  padding: 0;
}

.primary-inner {}

/* Modify the margin to positing the menu. */
#primary .links {
  margin: 0; /* RTL */
}

/* Modify the margin to set tab spacings. */
#primary .links li {
  display: inline;
  line-height: 2;
  list-style: none;
  margin: 0 1em;
  padding: 0;
}

#primary .links li a {
  text-decoration: none;
  white-space: nowrap;
}

#primary .links li.active {}

#primary .links li a:hover {}
#primary .links li a.active {}
#primary .links li a.visited {}
#primary .links li a.active-trail {}

/* Primary first and last classes */
#primary .links li.first {}
#primary .links li.last {}

/* Set unique active-trail styles */
/* #primary ul.links li a.active-trail {} */

/**
 * Secondary Links Positioning
 */
/* FLOAT SECONDARY RIGHT */
/* #secondary .secondary-inner {float: right;} */
/* ALIGN SECONDARY CENTER */
/* #secondary .secondary-inner {display: table; margin: 0 auto; text-align: center;} */

/**
 * Secondary Links Style
 */
#secondary {
  background: #EEE; /* Default silver for dev only. */
  font-weight: bold;
  padding: 0;
}

.secondary-inner {}

/* Modify the margin to positing the menu. */
#secondary .links {
  margin: 0; /* RTL */
}

/* Modify the margin to set tab spacings. */
#secondary .links li {
  display: inline;
  line-height: 2;
  list-style: none;
  margin: 0 1em;
  padding: 0;
}

#secondary .links li a {
  text-decoration: none;
  white-space: nowrap;
}

#secondary .links li.active {}

#secondary .links li a:hover  {}
#secondary .links li a.active {}
#secondary .links li a.visited {}
#secondary .links li a.active-trail {}

/* Secondary first and last classes */
#secondary .links li.first {}
#secondary .links li.last {}


/**********************************************************
 *                      Breadcrumb
 **********************************************************/
/**
 * Genesis places the breadcrumb directly below the header, 
 * giving it the full width of theme to expand into.
 * You can eaisly drag the breadcrumb html to the main 
 * content column if you need to.
 */
#breadcrumb {}

.breadcrumb-inner {
  padding: 0 0 0.75em;
}

/**********************************************************
 *                       Mission
 **********************************************************/
#mission {
  font-weight: bold;
  margin: 0 0 1.5em;
}

/**********************************************************
 *                     Pager 
 **********************************************************/
/* The first 2 classes provide the base pager styles. */
.item-list ul.pager    {}
.item-list ul.pager li {margin: 0;}

/* Theme the various states of pager links. */
.item-list ul.pager li a:link    {}
.item-list ul.pager li a:visited {}
.item-list ul.pager li a:hover   {}

/* Note: .pager-current is for the current page. */
.item-list ul.pager li.pager-item     {}
.item-list ul.pager li.first          {}
.item-list ul.pager li.last           {}
.item-list ul.pager li.pager-current  {}
.item-list ul.pager li.pager-first    {}
.item-list ul.pager li.pager-previous {}
.item-list ul.pager li.pager-next     {}
.item-list ul.pager li.pager-last     {}


/**********************************************************
 *               Footer, Footer Message
 **********************************************************/
#foot-wrapper {
  margin: 0.375em 0;
}

#footer {}
#footer .inner {}
#footer .region-inner {}

#footer-message {}

#footer a, 
#footer-message a {}


/**********************************************************
 *                 RSS Feed Icon
 **********************************************************/
.feed-icon {}
.feed-icon img {}
#footer-message a.feed-icon {}


/**********************************************************
 *                   Profile
 **********************************************************/
/* Position the user picture on the right in user profiles. */
.profile .user-picture {
  float: right; 
  margin: 2em 0 1em 0.5em; /* LTR */
}

/* Fix alignment on user profile page. */
.profile dt {
  margin: 1.5em 0 0 0;
}


/**********************************************************
 *               Book navigation
 **********************************************************/
/** 
 * Book navigation styles to get you started.
 */
.book-navigation {}
.book-navigation ul {}
.book-navigation ul li {}
.book-navigation ul li a {}
.book-navigation .page-links {
  border: none;
  margin-bottom: 1.5em;
  padding: 0.75em;
}
.book-navigation .page-links a {}
.book-navigation .page-links a.page-up {}
.book-navigation .page-links a.page-next {}
.book-navigation .page-links a.page-previous {}
.book-navigation .menu {
  margin: 0 0 1.5em;
  padding: 1.5em 0 0 3em;
}


/**********************************************************
 *                    Polls
 **********************************************************/
/* Poll bar background. */
.poll .bar  {}  

/* Poll bar forground, the colored bar indicating poll votes. */
.poll .bar .foreground {}

.poll .text    {}
.poll .links   {}
.poll .percent {}
.poll .total   {}
.poll .vote-form {}


/**********************************************************
 *                      Box
 **********************************************************/
/* Search form on the results page, includes advanced search. */
.section-search .box {}
.section-search .box-inner {}
.section-search .box-title {}

/* Comment form on a seperate page. */
.section-comment .box {}
.section-comment .box-inner {}
.section-comment .box-title {}

/* Comment form below content. */
#comments .box {}
#comments .box-inner {}
#comments .box-title {}

/* Generic box selectors. */
.box {}
.box-inner {}
.box-title {}
.box-content {}
.box form       {}
.box .form-item {}
.box fieldset   {}




