/* $Id$ */

/**********************************************************
 *                    Body Classes
 **********************************************************/

body {
  padding: 0 10px;
}

/* Front or not front. */
.front {}
.not-front {}

/* Is the user logged in. */
.logged-in {}
.not-logged-in {}

/* Node type body classes. */
.node-type-book  {}
.node-type-blog  {}
.node-type-forum {}
.node-type-page  {}
.node-type-poll  {}
.node-type-story {}

/**
 * Warning! 
 * The sidebar body classes are integral to how genesis
 * applies the layout - do not add margin, padding, borders,
 * or positioning styles to these classes! @see layout.css. 
 */
.one-sidebar   {}
.two-sidebars  {}
.sidebar-first {}
.sidebar-second  {}

/** 
 * Optional Region body classes
 * When any of the following regions are active a body class can be set.
 * To use you need to un-comment the conditional statements in 
 * genesis_preprocess_page(), @see template.php.
 */
/*
.leaderboard       {}
.header-blocks     {}
.secondary-content {}
.tertiary-content  {}
.footer            {}
*/

/** 
 * Page Path Class
 * The page path class takes the entire URL and builds a page-[path] 
 * class from it. See examplebelow. You need to use Firebug or view 
 * source to find out what the actual class will be, and be aware
 * that this will change if your URL alias changes!
 *
 * Replace [example-node-path] with the path you want
 * to style.
 */
/* .page-example-node-path {} */

	
/**********************************************************
 *                  The wrapper divs
 *    Be careful how you modify these, see layout.css
 **********************************************************/
/**
 * Width Setting
 *
 * Genesis supports Elastic, Fluid and Fixed width values.
 * Elastic layouts are dynamic and will expand or contract when 
 * the font size is changed. Fluid widths change when the browser 
 * is resized and fixed width layouts stay the same width even 
 * when the broswer is resized or the font size is changed.
 *
 * Elastic layouts use ems,       e.g. 80em
 * Fluid layouts use percentages, e.g. 85%
 * Fixed widths use pixels,       e.g. 960px
 */
#container {
  width: 100%;
  min-width: 760px; /* set a minimum width */
}

/* Column wrappers */
#columns {}
.columns-inner {}

/* Content wrappers */
#content-column {}
.content-inner {}

/* Main content wrappers*/
#main-content {}
#content {}


/**********************************************************
 *                       Regions
 **********************************************************/
/* Target all regions - be careful with this one, its easily 
 * over-ridden and will target sidebar inner DIVS as well.
 */
.region {}

/**
 * Each region has a main wrapper DIV and an inner DIV.
 * The following selectors are follow the patter of:
 * #region-name
 * .region-inner-div-name
 */
/* Leaderboard */
#leaderboard {}
.region-leaderboard {}

/* Header blocks */
#header-blocks {
  float: right;
}
.region-header {}

/* Highlight */
#help {}
.region-help {}

/* Highlight */
#highlight {}
.region-highlight {}

/* Secondary content */
#secondary-content {}
.region-secondary-content {}

/* Tertiary content */
#tertiary-content {}
.region-tertiary-content {}

/* Tertiary content */
#footer {}
.region-footer {}


/**********************************************************
 *                      Sidebars
 **********************************************************/
/* Target both sidebars with this low specifity selector. */
.sidebar {}
.sidebar .region {}

/* Target a specific sidebar. */
#sidebar-first {}
.sidebar .region-sidebar-first {}

#sidebar-second {}
.sidebar .region-sidebar-second {}


/*********************************************************
*                     GPanel Regions
**********************************************************/
.two-col-50 {}
.two-col-50 .col-1 {}
.two-col-50 .col-2 {}

.two-col-50.with-nested {}
#two-col-50-nested {}
.two-col-50.with-nested .col-1 {}
.two-col-50.with-nested .col-2 {}
.two-col-50.with-nested #two-col-50-nested .col-1 {}
.two-col-50.with-nested #two-col-50-nested .col-2 {}

.three-col-33 {}
.three-col-33 .col-1 {}
.three-col-33 .col-2 {}
.three-col-33 .col-3 {}

.four-col-25 {}
.four-col-25 .col-1 {}
.four-col-25 .col-2 {}
.four-col-25 .col-3 {}
.four-col-25 .col-4 {}


/**********************************************************
 *                 Header Elements
 **********************************************************/
/* #header wraps #branding and #header-blocks. */
#header {}

/* #branding wraps #logo, #site-name and #site-slogan. */
#branding {
  float: left; /* LTR */
}

/* h1 is for the front page only, all others use the div. */
#branding h1 {
  font-size: 1em; /* reset h1, do not change! */
} 

/* Logo and site_name wrapper. */
.logo-site-name {}
div.logo-site-name,
h1.logo-site-name  {}

/* Remove display:block if you want the site name inline with the logo. */
.logo-site-name span {
  display: block;
}

/* Logo. */
#logo {}

#site-name {
  font-weight: bold; /* Bold or else the line heights vary. */
  font-size: 2em;
  line-height: 1.5;
}

/* Override default pseudo class styles. */
#site-name a:link,
#site-name a:visited {}

#site-name a:hover,
#site-name a:focus,
#site-name a:active  {}

/* Site slogan. */
#site-slogan {}


/**********************************************************
 *          Search form, Search results
 *          For the search block see blocks.css
 **********************************************************/
/* Search page fieldset. */
#search-form {}

/* Basic search form. */
#search-form #edit-basic {}

/* Advanced search form. */
#search-form #edit-advanced {}

/* Use the child selector because the inner div has no class. */
#search-form > div {}
#search-form .container-inline {}
#search-form #edit-keys {}

#search-form label {}
#search-form input {}
#search-form .form-item {}
#search-form .form-submit {}

/* Override forms.css text field focus style. */
#search-form #edit-keys:hover,
#search-form #edit-keys:focus {}

/* Search results list. */
ol.search-results {
  padding: 0;
  margin: 0;
}
ol.search-results li {}
ol.search-results .title {}
ol.search-results p {}
ol.search-results .search-snippet {}
ol.search-results .search-info {}


/**********************************************************
 *                    H1 Page Title
 **********************************************************/
/* The main title on each page. */
h1#page-title {}


/**********************************************************
 *                Footer, RSS Feed Icon
 **********************************************************/
#footer {
  margin: 0.375em 0;
}

#footer .region {}

.feed-icon {}
.feed-icon img {
  padding:0 0.5em;
}
