/* $Id$ */

/**********************************************************
 *                 Custom Styles
 **********************************************************/
/**
 * Here you can add custom stles for your theme that do not fit
 * into one if the modular stylesheets.
 */

/* Workaround for Admin menu bar shadow */
html body.admin-menu,
html body > div#container.logged-in {
  margin-top:45px !important;
}

.little_boxes {
    background-color: #F9FFE8;
    border: 2px solid #BCC907;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px;
    margin-left:10px;
    width:280px;
    float:left;
}

.little_boxes .little_boxes-inner {
  height:150px;
}

.little_boxes:hover, .little_boxes:focus,.little_boxes:active{
    box-shadow: 0 0 5px #C8D000;
}

div.book-navigation {
  display:none;
}

a {
  text-decoration:none;
}

a,
a:visited{
  color: #6A6C6F;
  border-bottom: solid 1px;
}

a:hover {
  color: #000000;
}

a.arrow {
  border: 0px;
  text-transform: uppercase;
  background-image: url(images/go.png);
  background-repeat:no-repeat;
  padding-right:20px;
  background-position: right center;
  line-height: 20px;
  padding: 4px 22px 4px 0;
  float:right;
}

#block-search-form,#block-search-form form {
  margin:0;
}

.element-invisible {
  display:none;
}
a.more {
  text-align:right;
}

#main-menu h2 {
  display:none;
}
div#skip-link {
  display:none;
}
.front #site-slogan,
.breadcrumb {
  clear:left;
  float:left;
  display:block;
  color: #000;
  font-size:1.2em;
  margin-top: 0.3em;
}

.field-name-field-image img,
.node-blog .node-content img {
  border: 1px solid #000;
}

.front .field-name-body {
  width: 100%;
}

.field-name-body {
  
}

#site-slogan {
  display:none;
}

#search-block-form input.form-text:active,
#search-block-form input.form-text:focus {
  outline: none;
  background-image: none;
}

#search-block-form input.form-text {
  background-image: url(images/search.png);
  background-repeat: no-repeat;
  background-position: 7px center;
  border: none;
  padding-left:10px;
  width:144px;
  height: 1.8em;
}
#search-block-form div.container-inline {
  border: 1px solid #C8D000;
}

#search-block-form .form-submit {
  border-style: none;
  background-color:#fff;
  background-image: url(images/magnifying_glass.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0px;
  text-indent:-99999px;
  width:20px;
}

/*
 * BLOG
 *
 */
 .node-blog .node-content {
   clear: both;
   padding-top: 2em;
 }
 .node-blog .node-content img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#block-blog-recent h2 {
  margin-bottom:1em; 
}

#block-blog-recent a {
  text-decoration: none;
  border:none;
}

.node-blog {
    background-color: #F9FFE8;
    border: 2px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    padding: 10px 10px;
} 

.node-blog:hover, .node-blog:focus,.node-blog:active{
    box-shadow: 0 0 5px #DDDDDD;
}

.user-picture a{
 border:none; 
}

.node-blog .node-title {
  float: right;
  font-size: 2em;
  width: 470px;
}
.node-blog .user-picture {
  float: left;
}

.node-blog .node-submitted {
  float: left;
  padding-left:1em;
  clear:right;
}


/**
  * sidebar
  */
  
#sidebar-second h2 {
 background-image: url(images/line.png);
 background-position: left bottom;
 background-repeat: no-repeat;
 margin-bottom:1em;
 padding-bottom:0px;
 font-size: 1.2em;
 
}

.field-name-field-short {
  text-align: center;
}

#main-content h1{
	border-bottom: 1px solid #000000;
    color: #C8D000;
    font-size: 4em;
    line-height: 1;
    margin-bottom: 0;
    padding-bottom: 0;
	padding-left: 0.3em;
}

.field-name-field-short  {
  margin-bottom:20px;
}

.view-display-id-dynamic_content  .views-row{
  padding-bottom: 30px;
  padding-top: 20px;
}

.view-display-id-dynamic_content  .views-row.views-row-last{
  padding-bottom: 70px;
}

.view-display-id-dynamic_content  .views-row .text-arrow a { 
  text-transform: uppercase;
  border-bottom: none;
  float: right;
  padding-right:2em;
}

.node-book .field-name-body {
  margin-top: 20px;
}

.strong {
  font-weight: bold;
  font-size: 1.2em;
}

/**
 *
 * footer
 */

#footer {
  /*border-top: 3px solid #000;*/
}

#footer .block-menu h2 {
  display:none;
}

#footer .apoios {
 text-align: center;
}

#footer > div.region {
  width: 960px;
  margin-left:auto;
  margin-right:auto;
  color: #777777;
}


#footer a {
  border: none;
}

ul#apoios li.entidade {
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  padding-left:   1.1em;
  padding-right: 0.1em;
  list-style: none;
  font-size:1.3em;
  padding-top:10px;
  margin-right:0;
  width:270px;
}

#block-menu-menu-footer div.content {
  display: table;
  margin: 0 auto;
}

#block-menu-menu-footer ul{
	display: table-row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

#block-menu-menu-footer ul.menu li {
  display: inline-block;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  padding-left:   1.1em;
  padding-right: 0.1em;
  list-style: none;
  font-size:1.3em;
  padding-top:10px;
  margin-right:0;
}
