/* $Id$ */

/**********************************************************
 *                 Custom Styles
 **********************************************************/
/**
 * Here you can add custom stles for your theme that do not fit
 * into one if the modular stylesheets.
 */

/* Workaround for Admin menu bar shadow */
html body.admin-menu,
html body > div#container.logged-in {
  margin-top:45px !important;
}



div.book-navigation {
  display:none;
}

a {
  text-decoration:none;
}

a,
a:visited{
  color: #6A6C6F;
  border-bottom: solid 1px;
}

a:hover {
  color: #000000;
}

a.arrow {
  border: 0px;
  text-transform: lowercase;
  background-image: url(images/go.png);
  background-repeat:no-repeat;
  padding-right:20px;
  background-position: right center;
  line-height: 20px;
  padding: 4px 22px 4px 0;
  float:right;
}

.element-invisible {
  display:none;
}
a.more {
  text-align:right;
}

#main-menu h2 {
  display:none;
}
div#skip-link {
  display:none;
}
.front #site-slogan,
.breadcrumb {
  display:block;
  color: #000;
  float:left;
  font-size:1em;
  margin-top: 0.3em;
  padding-left: 20px;
  margin-bottom: 20px;
}

.field-name-field-image img,
.node-blog .node-content img {
  border: 1px solid #000;
}

.front .field-name-body {
  width: 100%;
}

.field-name-body {
  
}

#site-slogan {
  display:none;
}



/**
  * sidebar
  */
  
#sidebar-second h2 {
 background-image: url(images/line.png);
 background-position: left bottom;
 background-repeat: no-repeat;
 margin-bottom:1em;
 padding-bottom:0px;
 font-size: 1.2em;
 
}

.field-name-field-short {
  text-align: center;
}

h1#page-title{
    color: #000;
    font-size: 4em;
    margin-bottom: 0;
    padding-bottom: 0;
	margin-left: 0.3em;
}

.field-name-field-short  {
  margin-bottom:20px;
}

.view-display-id-dynamic_content  .views-row{
  padding-bottom: 30px;
  padding-top: 20px;
}

.view-display-id-dynamic_content  .views-row.views-row-last{
  padding-bottom: 70px;
}

.view-display-id-dynamic_content  .views-row .text-arrow a,
p.text-arrow a { 
  text-transform: lowercase;
  border-bottom: none;
  float: right;
}

.node-book .field-name-body {
  margin-top: 20px;
}

.strong {
  font-weight: bold;
  font-size: 1.2em;
}


#main-content h2 {
  padding-top: 30px;
font-size: 1.8em;
}

#main-content h2.first {
  padding-top: 0px;
}

#apoios a {
  border-bottom: none;
}

#content-column #apoios li {
  margin-bottom: 30px;
  margin-left: 50px;
}

/* FOLD */

#main-content .fold-inner h2 {
  padding-top: 0px;
}

#main-content .latest-wrapper h2 {
  padding-top: 0px;
border-bottom: 1px solid #cccccc;
font-size: 1.8em;
margin-bottom: 20px;
}

.fold-images {
  /*height: 145px;*/
}

.box img.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#front-image {
 /* border-bottom: 2px solid #000;*/
 /* height:353px;*/
}


img.country-omega {
  width: 28%;
  max-width: 63px;
  margin-left: 2%;
}

img.country-psi {
  width: 28%;
  max-width: 63px;
  margin-left: 2%;
  margin-right: 2%;
  outline:0px;
}

.box {
  float: left;
  padding-left: 0;
  margin: 0 0 25px;
}

.alpha {
  margin: 0 0 45px;
}

@media screen and (min-width: 961px) {

  .fold-inner {
    height: 350px;
  }
  .alpha, .beta {
    width: 269px;
    border-right: 1px solid #D4D4D4;
  }
  .teta {
    width: 270px;
  }
  .beta, .teta {
    padding: 20px 30px 0 30px;
  }
  .alpha {
    padding: 20px 30px 0  0px;
  }
}


.box h2 {
  padding-left: .9em;
  background-image: url("images/cubata.png");
  background-repeat: no-repeat;
  background-position: left 12px;
}
@media screen and (max-width: 700px) {
  .box h2 {
    background-position: left 7px;
  }
}
@media screen and (max-width: 600px) {
  .box h2 {
    /*background-image: none;
    padding-left: 0px;*/
  }
}
@media screen and (min-width: 0px) {
  
  .box.teta .facebook iframe {
    max-height: 2.3em !important;
  }

  .box.beta, .box.beta h2 a {
    /*background-color: #222;
    color: #aaa;*/
  }
  .fold-inner {
    height: 100%;
  }
  .alpha, .beta, .teta {
    width: 100%;
    margin-bottom: 0px;
  }
  .beta, .alpha, .teta {
    border-right: 0px solid #D4D4D4;
    padding: 0px 0px 0px 0px;
  }
  .box {
    padding-bottom:1em;
    padding-top:1.4em;
  }
  #main-menu {
    display:none;
  }
              
  .slicknav_menu {
    display:block;
  }
}

@media screen and (min-width: 600px) {

  #main-menu {
    display:block;
  }
  .slicknav_menu {
    display:none;
  }
  .box.teta .facebook iframe {
    max-height: 3.4em !important;
  }
  .alpha, .beta {
    border-right: 1px solid #D4D4D4;
  }
  .alpha, .beta, .teta {
    width: 28%;
  }
  .beta, .alpha, .teta {
    padding: 0px 10px 0 10px;
  }
  .box.alpha, .box.alpha, .box.teta {
    background-color: #fff;
  }
}

.beta {
}
.teta {
}

/**/

.clearfix-right {
  clear: right;
}

.clearfix-left {
  clear: left;
}

.clearfix-both {
  clear: both;
}

.clear {
  clear: both;
}

/**/

.latest {

}

.latest-wrapper {
 
}

.news-eta {
  margin-right: 30px;
}

.news-tau  {
  margin-left: 30px;
}

.news-header {
  height: 60px;
}

.news {
	width: 249px;
	float: left;
    border: 1px solid #BCC907;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
	margin-bottom:20px;
}

.news:hover,
.news:hover {
    box-shadow: 0 0 5px #C8D000;
}

.date {
  color: #A17A50;
/*  float: left;*/
  font-weight: bold;
  padding-left: 5px;
  padding-right: 15px;
  text-align: left;
  text-transform: uppercase;
/*  width: 25px;*/
  font-size: 1.2em;
}

.title {
  font-size:1.4em;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.sub {
  margin-top: 10px;
  clear:both;
  color: #444;
}

.facebook {
  margin-top: 20px;
  padding-left:19px;
}

#sidebar-second .view-sidebar .view-header h2 {
   background-image: url("images/cubata.png");
    background-position: left 4px;
    border-bottom: medium none;
    font-size: 1.4em;
    margin-top: 20px;
    padding-left: 24px;
}

#content-column {
  clear: both;
}

img.image {
  border: 1px solid #000;
}

img.logo-instituicao {
  float: left;
  padding-right: 10px;
}

div.logo {
  width:120px;
  float:left;
}

.sidebar div.logo {
  padding-bottom:20px;
}

#tertiary-content {
    clear: both;
    margin: 0 auto;
    padding: 0;
    position: relative;
  /*  width: 960px;*/
    margin-bottom:25px;
}

/* Custom GT14 */
/* Nuno Amarante 2013.11.07 */

#cartaz-home a {
  border-bottom: none;
}

#cartaz-juntate a {
  border-bottom: none;
}

#cartaz-juntate img {
	margin-left: 123px;
}

#slider {
  max-width:960px;
  margin-left: auto;
  margin-right: auto;
  /*background-color: #222;*/
}

.slider-wrapper {
 /* background-color: #222;*/
}

.bg-black {
  background-color: #222;
  color: #bbb;
  padding-bottom:1em;
}

#main-menu-wrapper .slicknav_menu {
  background-color: transparent; 
}
