/* $Id$ */

/**********************************************************
 *                       Menus
 **********************************************************/
/**
 * Prefix these with the block id to style one menu only.
 */
ul.menu,
ul.menu ul, 
ul.menu ul ul, 
ul.menu ul ul ul {
  margin: 0 0 0 0.75em; /* LTR */
  padding: 0;
}

/* Menu li styles */
ul.menu li {
  padding: 0.35em 0 0 0; /* LTR */
}

ul.menu li.collapsed {}
ul.menu li.expanded  {}
ul.menu li.leaf      {}

ul.menu li a:link    {}
ul.menu li a:hover   {}
ul.menu li a:visited {}
ul.menu li.active a  {}
ul.menu li.active-trail {}

ul.menu li.first {}
ul.menu li.last  {}


/**********************************************************
 *               Primary & Secondary Links
 **********************************************************/
/**
 * Implimentation of Primary and Secondary Links.
 *
 * Primary & Secondary Links are colored by default so you 
 * can easily identify them.
 */

/* Hide menu headers. */
#main-menu-wrapper h2,
#secondary-menu-wrapper h2,
#block-menu-menu-footer h2 {
  display:none;
}

#main-menu li,
#secondary-menu li,
/*#block-menu-menu-footer ul li,*/
#external-menu ul li  {
  list-style-type: none;
  display: inline-block;
  float:left;
}

/**********************************************************
 *                      Breadcrumb
 **********************************************************/
/**
 * Genesis places the breadcrumb directly below the header, 
 * giving it the full width of theme to expand into.
 * You can eaisly drag the breadcrumb html to the main 
 * content column if you need to.
 */
#breadcrumb {
  padding: 0 0 0.75em;
}

/**********************************************************
 *                     Pager 
 **********************************************************/
/* The first 2 classes provide the base pager styles. */
.item-list ul.pager    {}
.item-list ul.pager li {
  margin: 0;
}

/* Theme the various states of pager links. */
.breadcrumb a {
  border:none;
}
.item-list ul.pager li a:link    {}
.item-list ul.pager li a:visited {}
.item-list ul.pager li a:hover   {}

/* Note: .pager-current is for the current page. */
.item-list ul.pager li.pager-item     {}
.item-list ul.pager li.first          {}
.item-list ul.pager li.last           {}
.item-list ul.pager li.pager-current  {}
.item-list ul.pager li.pager-first    {}
.item-list ul.pager li.pager-previous {}
.item-list ul.pager li.pager-next     {}
.item-list ul.pager li.pager-last     {}


/**********************************************************
 *                    Skip Navigation
 **********************************************************/
/* The skip link will show on focus. The style of the skip 
 * link matches toolbar and is the same as for the Seven theme. 
 */
#skip-link {
  display: none;
}

/********************************************************
 *                    Main Menu
 ********************************************************/

#main-menu-wrapper {
  max-width: 960px;
  margin:0 auto;
}

.main-menu-inner {
  float:left;
  margin-left: 2em; /* center with logo */
}

#main-menu {
  height: 35px; /* height of background image */
  margin: 0;
  padding: 14px 0px 0px;
}

/* Modify the margin to set tab spacings. */

#main-menu li {
  margin-right:22px;
}

#main-menu li a {
  color: #333;
  border: 0px;
  font-size: 10.4px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 19px 6px 18px 6px;
}

/* Set pseudo class styles. */
#main-menu li a:link {}
#main-menu li a:visited {}

ul#main-menu li:hover,
ul#main-menu li:active,
ul#main-menu li:focus {
}

ul#main-menu li a:hover,
ul#main-menu li a:focus,
ul#main-menu li a:active {
  border-top: 2px solid #C8D000;
  background-color: #fff;
}

/* Active trail classes. */
#main-menu li.active a,
#main-menu li.active-trail a,
#main-menu li.active-trail a:active,
#main-menu li.active-trail a:focus,
#main-menu li.active-trail a:hover{
  border-top: 2px solid #000;
  background-color: #fff;  
}


/* Primary first and last classes. */
#main-menu li.first {}
#main-menu li.last {}

/* Active trail classes. */
#main-menu li.active-trail a {}

/********************************************************
 *                    Search
 ********************************************************/
 
 #header-right {
  margin-top: 9px;
  float: right;
 }
 
 #block-search-form,
 #block-search-form form {
  margin:0;
}

#header-menu #search-block-form input.form-text:active,
#header-menu #search-block-form input.form-text:focus {
  outline: none;
  background-image: none;
}

#header-menu #search-block-form input.form-text {
  padding-left: 10px;
  border: none;
  width:320px;
  height: 1.8em;
}
#header-menu #search-block-form div.container-inline {
  border: 1px solid #C8D000;
}

#header-menu input#edit-submit {
  text-indent: -999px;
}

#header-menu #search-block-form .form-submit {
  border-style: none;
  background-color:#fff;
  background-image: url(images/magnifying_glass.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 0px;
  margin-right:10px;
  text-indent:-99999px;
  margin-top: 8px;
  height: 16px;
  width:20px;
}

 
/********************************************************
 *                    Secondary Menu
 ********************************************************/

#secondary-menu-wrapper  {
  margin-bottom: 0.75em;
  margin-left: 1em;
}

#secondary-menu-inner {
}

ul#secondary-menu {
  font-weight: bold;
  margin:0;
}

/* Modify the margin to set tab spacings. */
#secondary-menu li {
  margin-right: 1em;
}

#secondary-menu li a {
}

/* Set pseudo class styles. */
#secondary-menu li a:hover {}
#secondary-menu li a:focus {}
#secondary-menu li a:active {}
#secondary-menu li a:visited {}

/* Secondary first and last classes. */
#secondary-menu li.first {}
#secondary-menu li.last {}

/* Active trail classes. */
#secondary-menu li.active {}
#secondary-menu li.active-trail {}
#secondary-menu li.active-trail a {}

/********************************************************
 *                    External Menu
 ********************************************************/

#external-menu {
  float:right;
  position:relative;
}

#external-menu-wrapper {
  margin-top: 25px;
}
#external-menu a {
	border-bottom: none;
}

#external-menu li  a {
  display: block;
}

#external-menu li {
  list-style-type: none;
  margin-right:14px;
}

#external-menu li.menu-403 a{
  background-image: url("images/doar.png");
  background-repeat: no-repeat;
  padding-left:28px;
  height: 24px;
}

#external-menu li.menu-389 a {
  background-image: url("images/contactos.png");
  background-repeat: no-repeat;
  padding-left:15px;
  height: 24px;
}

#external-menu li.menu-380 a {
  background-image: url("images/blog.png");
  background-repeat: no-repeat;
  padding-left:29px;
  height: 24px;
}

#external-menu li.menu-388 a {
  background-image: url("images/parcerias.png");
  background-repeat: no-repeat;
  padding-left:22px;
  height: 24px;
}

#external-menu li.menu-382 a{
  background-image: url("images/facebook.gif");
  background-repeat: no-repeat;
  padding-left:22px;
  height: 24px;
  text-indent:-9999999px;
}

/********************************************************
 *                    Menu Footer
 ********************************************************/

#block-menu-menu-footer div.content {
  display: table;
  margin: 0 auto;
}

#block-menu-menu-footer ul{
	text-align: center;
}

#block-menu-menu-footer ul li {
  display:inline;
}

#content {
  margin: 0 auto;
}

#block-menu-menu-footer {
  margin-top: 50px;
}

#block-menu-menu-footer ul.menu li {
  padding-right: 1.1em; 
}
