/* $Id$ */

/**
 * @file blocks.css
 * Basic styles for blocks.
 */

/**********************************************************
 *                       Blocks
 **********************************************************/
/**
 * Styles set here will be inherited by all blocks.
 */
.block {
  clear: both;
  margin: 0 0 1.5em;
}

/* Default node title. */
.block .title {}

/**
 * Sidebar and Region Specific Block Styles
 *
 * You can target blocks in one or more regions and 
 * style them differently. 
 */
/* Low specifity selector to style blocks in both sidebars. */
.sidebar .block {}

/* High specifity selectors to style blocks in one sidebar. */
#sidebar-left .block {}
#sidebar-left .block .title {}

#sidebar-right .block {}
#sidebar-right .block .title {}

/* Low specifity selector to style blocks in all regions. */
.region .block {}

/* High specifity selectors to style blocks in one region. */
#leaderboard .block       {}
#header-blocks .block     {}
#secondary-content .block {}
#tertiary-content .block  {}
#content-top .block       {}
#content-bottom .block    {}
#footer .block            {}

/**
 * Block Odd & Even Styles (Zebra)
 * Each region can have alternating styles for Odd and Even 
 * count blocks, such as;
 */
.sidebar .odd-block  {}
.sidebar .even-block {}

#sidebar-left .odd-block  {}
#sidebar-left .even-block {}

#sidebar-right .odd-block  {}
#sidebar-right .even-block {}

/**
 * Alternative Approach to Region Block Styling
 *
 * Blocks are aware of what region they are in, so its
 * possible to use chained selectors such as;
 *
 * .block.odd.right {}
 */

/**
 * Drupal Core Blocks 
 * This is most of the core blocks as far as I can remember, 
 * please post an issue if I have missed any :)
 */
#block-book-navigation    {} /* Book navigation block   */
#block-blog-recent        {} /* Recent Blog posts       */
#block-comment-recent     {} /* Recent Comments block   */
#block-forum-active       {} /* Active Forum topics     */
#block-forum-new          {} /* New Forum topics        */
#block-node-syndicate     {} /* Syndicate block         */
#block-poll-recent        {} /* Most recent poll        */
#block-search-form        {} /* Search form block       */
#block-statistics-popular {} /* Popular content         */
#block-system-powered-by  {} /* Powered by Drupal       */
#block-user-login         {} /* Login block             */
#block-user-navigation    {} /* Navigation Menu block   */
#block-user-new           {} /* Who's New block         */
#block-user-online        {} /* Who's Online block      */
#block-locale-language-switcher   {} /* Language Switcher block */
#block-profile-author-information {} /* Author information      */

/* The class selector applies to all blocks of these types. */
.block-user {} 
.block-book {} 
.block-aggregator {}


/**********************************************************
 *                   Menu blocks
 **********************************************************/
/**
 * Prefix these with the block id to style one menu only.
 */
ul.menu {
  margin: 0;
  padding: 0;
}

ul.menu li,
li.expanded,
li.collapsed,
li.leaf {
  margin: 0;
}

/* Override Drupal default bullet gifs with a CSS Sprite */
ul.menu li {
  background: none;
  display: block;
  list-style: none;
  list-style-image: none;
  padding: 0.35em 0 0 1em; /* LTR */
}

ul.menu li.collapsed,
ul.menu li.expanded,
ul.menu li.leaf {
  background: transparent url(../images/sprite.png) no-repeat;
}

ul.menu li.collapsed {
  background-position: -19px -7px; /* LTR */
}

ul.menu li.expanded {
  background-position: -40px -27px; /* LTR */
}

ul.menu li.leaf {
  background-position: -19px 10px; /* LTR */
}

ul.menu li a:link    {}
ul.menu li a:hover   {}
ul.menu li a:visited {}
ul.menu li.active a  {}
ul.menu li.active-trail {}

ul.menu li.first {}
ul.menu li.last  {}


/**********************************************************
 *                   Block lists
 **********************************************************/
.block .item-list ul {margin: 0;}
.block .item-list ul li {}

